{% extends 'base.html.twig' %}

{% block body %}

    <br/>

    <div class="jumbotron text-center">

        {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ path('admin_badge_index') }}"
               class="text-lg-center large-button btn btn-secondary">{{ 'admin.badge.title' |trans }}</a>

            <br><br>

        {% endif %}

        <a href="{{ path('management_structures_list') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'manage_structures.title'|trans }}</a>

        <br/><br/>

        <a href="{{ path('management_volunteers_list') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'manage_volunteers.title'|trans }}</a>

        <br/><br/><br/>

        <div class="text-left">
            <p>{{ 'management.current_structures'|trans }}</p>

            {% for structure in app.user.structures %}
                <p>{{ structure.name }}</p>
            {% endfor %}

            <p>{{ 'management.support_email'|trans({'%email%': email}) }}</p>
        </div>

        <br/><br/><br/>

        <a href="{{ path('home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}
