{% extends '@PasswordLogin/base.html.twig' %}

{% block title %}{{ 'password_login.register.title'|trans }}{% endblock %}

{% block body %}

    <br/>

    <div class="row">

        <div class="col-md-12 jumbotron shadow p-3 mb-5 rounded">

            <h3>{{ block('title') }}</h3>

            {% form_theme registration '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
            {{ form(registration) }}

            <div class="text-center">
                {{ 'password_login.register.already_have_account'|trans }}
                <a href="{{ path('password_login_connect') }}">{{ 'password_login.register.please_connect'|trans }}</a>
            </div>

        </div>

    </div>

{% endblock %}