{% import 'macros.html.twig' as macros %}

<h3>{{ 'audience.large_audience.title'|trans({'%nbr%': volunteers|length}) }}</h3>

<div class="row text-left">
    {% for volunteer in volunteers %}
        <div class="col-md-6" id="preselection-volunteer-{{ volunteer.id }}">
            <div class="d-flex align-items-start gap-2 mb-2">
                <div>
                        {% set ticked = volunteer.id not in classification.excluded %}
                        <div id="exclude-volunteer-{{ volunteer.id }}" class="{% if not ticked %}d-none{% endif %}">
                            <a href="#"
                               class="btn btn-small btn-secondary exclude-volunteer"
                               data-id="{{ volunteer.id }}"
                               style="border: 1px solid green!important;">
                                ✅
                            </a>
                        </div>
                        <div id="include-volunteer-{{ volunteer.id }}" class="{% if ticked %}d-none{% endif %}">
                            <a href="#"
                               class="btn btn-small btn-secondary exclude-volunteer"
                               data-id="{{ volunteer.id }}"
                               style="border: 1px solid red!important;">
                                ❌
                            </a>
                        </div>
                        <input id="toggle-volunteer-exclusion-{{ volunteer.id }}"
                               type="checkbox"
                               class="toggle-to-text numbers no-badge-counts d-none"
                               {% if not ticked %}checked{% endif %}
                               data-proxy="#excluded-volunteers"
                               data-id="{{ volunteer.id }}"/>
                </div>
                <div class="flex-grow-1">
                        {{ macros.volunteer(volunteer) }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>