{% import '@Api/macros.html.twig' as macros %}

<div class="endpoint text-left">

    {# Required permissions #}
    {% if endpoint.roles %}
        <div class="float-right">
            {% for role in endpoint.roles %}
                {% if not role.subject %}
                    {% if is_granted(role.attribute) %}
                        {% set color = 'success' %}
                    {% else %}
                        {% set color = 'danger' %}
                    {% endif %}
                {% else %}
                    {% set color = 'info' %}
                {% endif %}

                <span class="alert alert-{{ color }}" style="padding:5px;">
                    {{ role.attribute }}
                    {% if role.subject %}
                        <span class="color-grey">
                            {{ '{' ~ role.subject ~ '}' }}
                        </span>
                    {% endif %}
                </span>
                {% if not loop.last %}
                    &nbsp;
                {% endif %}
            {% endfor %}

            <a href="{{ path('developer_token_console', {token: token, categoryName: category.name, endpointTitle: endpoint.title}) }}"
               class="btn btn-light" style="margin-left:5px;">Open in console</a>
        </div>
    {% endif %}

    <div class="h3">{{ endpoint.title }}</div>

    <div class="input-group align-items-center">
        {% for method in endpoint.methods %}
            <div class="input-group-addon">{{ macros.method(method) }}</div>
        {% endfor %}
        <p class="form-control" style="font-size:14px;">{{ endpoint.uri }}</p>
    </div>

    {% if endpoint.description %}
        <div>
            <p>{{ endpoint.description|nl2br }}</p>
        </div>
    {% endif %}

    {# Request #}
    {% if endpoint.requestFacade %}

        <div class="card">
            <div class="card-header">
                <a href="#request-{{ category.id }}-{{ endpoint.id }}" class="btn btn-light" data-toggle="collapse" role="button" style="width:100%;">
                    Request
                </a>
            </div>
            <div id="request-{{ category.id }}-{{ endpoint.id }}" class="collapse">
                <div class="card-body">
                    {{ include('@Api/documentation/facade.html.twig', {
                        endpoint: endpoint,
                        type: constant('\\Bundles\\ApiBundle\\Model\\Documentation\\FacadeDescription::TYPE_REQUEST'),
                        facade: endpoint.requestFacade,
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    {# Response #}
    {% if endpoint.responseFacade %}

        <div class="card">
            <div class="card-header">
                <a href="#response-{{ category.id }}-{{ endpoint.id }}" class="btn btn-light" data-toggle="collapse" style="width:100%;">
                    Response
                </a>
            </div>
            <div id="response-{{ category.id }}-{{ endpoint.id }}" class="collapse">
                <div class="card-body">
                    {{ include('@Api/documentation/facade.html.twig', {
                        endpoint: endpoint,
                        type: constant('\\Bundles\\ApiBundle\\Model\\Documentation\\FacadeDescription::TYPE_RESPONSE'),
                        facade: endpoint.responseFacade,
                    }) }}
                </div>
            </div>
        </div>

    {% endif %}

    {# Demo #}
    <div class="card">
        <div class="card-header">
            <a href="#demo-{{ category.id }}-{{ endpoint.id }}" class="btn btn-light" data-toggle="collapse" style="width:100%;">
                cURL example
            </a>
        </div>
        <div id="demo-{{ category.id }}-{{ endpoint.id }}" class="collapse">
            <div class="card-body">

                {{ include('@Api/documentation/demo.html.twig', {token: token, endpoint: endpoint}) }}

            </div>
        </div>
    </div>

</div>