{% import '@Api/macros.html.twig' as macros %}

<div class="endpoint">

    {# Required permissions #}
    {% if endpoint.roles %}
        <div class="float-right">
            {% for role in endpoint.roles %}
                <span class="alert alert-danger" style="padding:5px;">
                    {{ role.attribute }}
                    {% if role.subject %}
                        <span class="color-grey">
                            {{ '{' ~ role.subject ~ '}' }}
                        </span>
                    {% endif %}
                </span>
                {% if not loop.last %}
                    &nbsp;
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <h3>{{ endpoint.title }}</h3>

    <div class="input-group align-items-center">
        {% for method in endpoint.methods %}
            <div class="input-group-addon">{{ macros.method(method) }}</div>
        {% endfor %}
        <p class="form-control" style="font-size:14px;">{{ endpoint.uri }}</p>
    </div>

    {% if endpoint.description %}
        <div>
            <p>{{ endpoint.description }}</p>
        </div>
    {% endif %}

    {# Request #}
    {% if endpoint.requestFacade %}

        <div class="card">
            <div class="card-header">
                <a href="#request-{{ endpoint.id }}" class="btn btn-light" data-toggle="collapse" role="button" style="width:100%;">
                    Request
                </a>
            </div>
            <div id="request-{{ endpoint.id }}" class="collapse show">
                <div class="card-body">
                    {{ dump(endpoint.requestFacade) }}
                </div>
            </div>
        </div>
    {% endif %}

    {# Response #}
    {% if endpoint.responseFacade %}

        <div class="card">
            <div class="card-header">
                <a href="#response-{{ endpoint.id }}" class="btn btn-light" data-toggle="collapse" style="width:100%;">
                    Response
                </a>
            </div>
            <div id="response-{{ endpoint.id }}" class="collapse show">
                <div class="card-body">
                    {{ dump(endpoint.responseFacade) }}
                </div>
            </div>
        </div>

    {% endif %}

    {# Demo #}
    <div class="card">
        <div class="card-header">
            <a href="#demo-{{ endpoint.id }}" class="btn btn-light" data-toggle="collapse" style="width:100%;">
                Runnable example
            </a>
        </div>
        <div id="demo-{{ endpoint.id }}" class="collapse show">
            <div class="card-body">

                {{ api_demo(token, endpoint.methods|first, endpoint.uri, endpoint.requestFacade.example|default({}), false) }}

            </div>
        </div>
    </div>


    {{ dump(endpoint) }}

</div>