{% macro badge_link(badge) %}
    <a href="{{ path('admin_badge_manage', app.request.query.all|merge({id: badge.id})) }}">{{ badge.name }}</a>
{%- endmacro %}
{% import _self as macros %}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            {% if badge.synonym %}
                <span class="h3 color-grey">
                    <strike>{{ badge.name }}</strike>
                </span>
                <span class="h4">({{ 'admin.badge.synonym_of'|trans({'%name%': badge.synonym.name}) }})</span>
            {% else %}
                <span class="h3">{{ badge.name }}</span>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <strong>{{ badge.description }}</strong>

        {% if count %}
            <p>{{ 'admin.badge.used_by'|trans({'%count%': count}) }}</p>
        {% endif %}

        {% if badge.synonyms|length %}
            <br/>
            <div>{{ 'admin.badge.replace'|trans }}</div>
            <table class="table">
                {% for synonym in badge.synonyms %}
                    <tr>
                        <td>{{ macros.badge_link(synonym) }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if badge.parent %}
            <div>
                {{ 'admin.badge.covers'|trans }}
                {% for parent in badge.coveringBadges %}
                    {{ macros.badge_link(parent) }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if badge.children|length %}
            <div>
                {{ 'admin.badge.covered_by'|trans }}
                {% for child in badge.coveredBadges %}
                    {{ macros.badge_link(child) }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <br/>

        <div>
            <a href="{{ path('admin_badge_manage', app.request.query.all|merge({id: badge.id})) }}" class="btn btn-small btn-secondary open-category-form" data-uri="">
                ✏️ {{ 'base.button.update'|trans }}
            </a>

            {% if badge.canBeRemoved %}
                <div class="float-right">
                    <a href="#"
                       class="btn btn-small btn-secondary delete-badge"
                       style="border: 1px solid red!important;"
                       data-id="{{ badge.id }}"
                       data-name="{{ badge.name|e('js') }}"
                       data-uri="{{ path('admin_badge_remove', {id: badge.id, token: csrf_token('token')}) }}">
                        ❌
                    </a>
                </div>
            {% endif %}
        </div>

    </div>
</div>

