{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>{{ 'admin.badge.title'|trans }}</h1>

    <div>
        <ul>
            {% for i in 10..18 %}
                <li>{{ ('admin.badge.description.' ~ i)|trans }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="text-right">
        <a class="btn btn-secondary" href="{{ path('admin_badge_manage') }}">
            {{ 'admin.badge.create'|trans }}
        </a>

        <a class="btn btn-secondary" href="{{ path('admin_category_index') }}">
            {{ 'admin.category.title'|trans }}
        </a>
    </div>

    {{ form(search) }}

    <div class="row">
        {% for badge in badges %}
            <div class="col-6" id="badge-{{ badge.id }}" style="padding:5px;">
                {{ include('admin/badge/badge.html.twig', {badge: badge, count: counts[badge.id]|default(0)}) }}
            </div>
        {% endfor %}
    </div>

    <br/>
    {{ macros.pager(badges, '', app.request.query.all) }}
    <br/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $('.toggle-visibility').click(function () {
            $.post($(this).data('href'));
        });

        $('body').on('click', '.delete-badge', function (e) {
            e.preventDefault();

            var that = $(this);

            if (!confirm('{{ 'admin.badge.delete'|trans }}'.replace('%name%', that.data('name')))) {
                return;
            }

            $.post(that.data('uri'), function () {
                $('#badge-' + that.data('id')).remove();
            });
        });
    </script>

{% endblock %}