{% extends 'export/base.html.twig' %}

{% block content %}
    {% spaceless %}

        {# Header #}
        <div style="margin-left:60px;margin-right:60px;border:1px solid {{ lightgrey }};">
            <div style="text-align:left;position:relative;left:-30px;">
                <img height="30" src="images/corner_topleft.png"/>
            </div>
            <div style="margin-left:50px;">
                <b>
            <span style="font-size:30px;font-family:Arial Black;color:{{ red }};">
                PARIS 1ER-2IEME {# MVP #}
            </span>
                    <br/>
                    <span style="font-size:20px;font-family:Arial Black;color:{{ red }};">
                {{ 'pdf_export.generated'|trans({
                    '%date%': current_date|date('d/m/Y'),
                    '%time%': current_date|date('H:i'),
                }) }}
            </span>
                </b>
            </div>
            <div style="text-align:right;">
                <img height="30" src="images/corner_bottomright.png"/>
            </div>
        </div>

        <br/><br/>

        {# Campaign title and date/time #}
        <div style="background-color:{{ lightgrey }};">
            <br/>
            <div style="background-color:{{ red }};padding-top:5px;padding-bottom:5px;padding-left:50px;">
            <span style="font-size:12px;color:white;">
                {{ 'pdf_export.confidential'|trans }}
            </span>
            </div>
            <br/>
            <table width="100%" style="margin-left:45px;margin-right:60px;font-family:Arial Black;color:white;font-weight:bold;">
                <tr>
                    <td style="font-size:24px;">
                        {{ campaign.label }}
                    </td>
                </tr>
            </table>
            <br/>
        </div>

        <br/><br/>

        {# Table by messages #}
        {% if messages|length %}
            <table width="100%" cellspacing="0">
                <tr>
                    <td style="color:white;background-color:{{ lightgrey }};text-align:center;padding:10px;border: 1px solid black;">
                        <strong>{{ 'pdf_export.staff_table.skills'|trans }}</strong>
                    </td>
                    <td style="color:white;background-color:{{ lightgrey }};text-align:center;padding:10px;border: 1px solid black;">
                        <strong>{{ 'pdf_export.staff_table.lastname'|trans }}</strong>
                    </td>
                    <td style="color:white;background-color:{{ lightgrey }};text-align:center;padding:10px;border: 1px solid black;">
                        <strong>{{ 'pdf_export.staff_table.firstname'|trans }}</strong>
                    </td>
                    <td style="color:white;background-color:{{ lightgrey }};text-align:center;padding:10px;border: 1px solid black;">
                        <strong>{{ 'pdf_export.staff_table.nivol'|trans }}</strong>
                    </td>
                    <td style="color:white;background-color:{{ lightgrey }};text-align:center;padding:10px;border: 1px solid black;">
                        <strong>{{ 'pdf_export.staff_table.phone'|trans }}</strong>
                    </td>
                    {% for choice in communication.choices %}
                        <td style="color:white;background-color:{{ lightgrey }};text-align:center;padding:10px;border: 1px solid black;">
                            <strong>{{ choice.label }}</strong>
                        </td>
                    {% endfor %}
                </tr>
                {% for message in messages %}
                    <tr>
                        <td style="padding:10px;text-align:center;color:black;background-color:{{ offwhite }};border: 1px solid black;">
                            {% for index, tag in message.volunteer.tagsView %}
                                {% if index > 0 %} / {% endif %}
                                {{ ('tag.shortcuts.' ~ tag)|trans }}
                            {% endfor %}
                        </td>
                        <td style="padding:10px;text-align:center;color:black;background-color:{{ offwhite }};border: 1px solid black;">
                            {{ message.volunteer.lastName }}
                        </td>
                        <td style="padding:10px;text-align:center;color:black;background-color:{{ offwhite }};border: 1px solid black;">
                            {{ message.volunteer.firstName }}
                        </td>
                        <td style="padding:10px;text-align:center;color:black;background-color:{{ offwhite }};border: 1px solid black;">
                            {{ message.volunteer.nivol }}
                        </td>
                        <td style="padding:10px;color:white;background-color:{{ red }};border: 1px solid black;">
                            {{ message.volunteer.formattedPhoneNumber }}
                        </td>
                        {% for choice in communication.choices %}
                            <td style="padding:10px;text-align:center;color:black;background-color:{{ offwhite }};border: 1px solid black;">
                                <strong>
                                    {{ message.answerByChoice(choice) ? 'X' : '&nbsp;' }}
                                </strong>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    {% endspaceless %}

{% endblock %}
