<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}RedCall{% endblock %}</title>
    {% block base_stylesheets %}
        {{ encore_entry_link_tags('css') }}
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block base_javascripts %}
    {{ encore_entry_script_tags('js') }}
    <script type="text/javascript">
        window.jQuery = $;
    </script>
{% endblock %}

<div class="container mt-0">

    {% block flashes %}
        {% if translation_domain is not defined %}
            {% set translation_domain = null %}
        {% endif %}
        {% if close is not defined %}
            {% set close = false %}
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-warning">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block header %}
        <div class="{% if app.user|default(false) or session.volunteer|default(false) %}card-header{% endif %}">

            {% block menu %}

                {% if app.user|default(false) %}

                    {% if app.user.trusted %}
                        <a href="{{ path('home') }}"
                           class="btn btn-secondary text-sm-center" style="margin: 5px;">{{ 'base.home'|trans }}</a>

                        <span class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 5px;">
                                {{ 'campaign.titles.create_full'|trans }}
                            </button>
                            <span class="dropdown-menu">
                                <a href="{{ path('create_campaign', {type: 'sms'}) }}"
                                   class="dropdown-item">📱 &nbsp; {{ 'campaign.titles.sms'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('create_campaign', {type: 'call'}) }}"
                                   class="dropdown-item">📞 &nbsp; {{ 'campaign.titles.call'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('create_campaign', {type: 'email'}) }}"
                                   class="dropdown-item">✉️ &nbsp; {{ 'campaign.titles.email'|trans }}</a>
                            </span>
                        </span>

                        <a href="{{ path('list_campaigns') }}" style="margin: 5px;"
                           class="btn btn-secondary text-sm-center">{{ 'campaign.titles.list_full'|trans }}</a>

                    {% endif %}

                    {% if app.user.root %}
                        <div class="float-right">
                            {{ render(controller('\\App\\Controller\\Admin\\PlatformController::renderSwitch')) }}
                        </div>
                    {% endif %}

                {% endif %}

            {% endblock %}

            {% if session.volunteer|default(false) %}
                <div class="text-right h4">
                    <span class="badge-pill badge-dark">
                        {{ session.volunteer.firstName }}
                        {{ session.volunteer.lastName[:1] }}.
                    </span>
                </div>
            {% endif %}

        </div>
    {% endblock %}

    {% block maintenance %}
        {% set maintenance = setting(constant('App\\Settings::MAINTENANCE_MESSAGE_CONTENT')) %}
        {% if maintenance and is_granted('ROLE_TRUSTED') %}
            <div class="alert alert-{{ setting(constant('App\\Settings::MAINTENANCE_MESSAGE_TYPE')) }}">
                {{ maintenance|nl2br }}
            </div>
        {% endif %}
    {% endblock %}

    {% block modals %}{% endblock %}
    {% block body %}{% endblock %}

    {% block footer %}
        <div class="text-center card-footer">

            {% block security %}

                {% if app.user|default(false) %}

                    <a href="{{ minutis_url }}">{{ 'minutis.back'|trans }}</a>

                    <br/><br/>

                    <div class="text-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_pegass_update_structures', {id: app.user.id}) }}" target="_blank">
                                {{ 'password_login.connect.who_am_i'|trans({'%username%': app.user.username}) }}
                            </a>
                        {% else %}
                            {{ 'password_login.connect.who_am_i'|trans({'%username%': app.user.username}) }}
                        {% endif %}
                    </div>

                    {{ include('@PasswordLogin/menu.html.twig', {
                        display_user: false,
                        display_profile: false,
                        display_manage_users: false,
                    }) }}

                {% endif %}

            {% endblock %}

            <br/>

            {% if app.user|default(false) and app.environment == 'dev' %}

                <a href="{{ path('sandbox_home') }}" class="btn btn-secondary">{{ 'sandbox.home.link'|trans }}</a>
                &nbsp;&nbsp;
            {% endif %}

            {% if app.user|default(false) and app.user.volunteer %}

                <a href="{{ path('go_to_space') }}" class="btn btn-secondary">{{ 'space.home.link'|trans }}</a>
                &nbsp;&nbsp;

            {% endif %}

            {% if app.user|default(false) and is_granted('ROLE_DEVELOPER') %}

                <a href="{{ path('developer_home') }}" class="btn btn-secondary">{{ 'developer.home.link'|trans }}</a>
                &nbsp;&nbsp;

            {% endif %}

            {% if app.user|default(false) %}

                <a href="{{ path('management_home') }}" class="btn btn-secondary">{{ 'management.home.resources'|trans }}</a>
                &nbsp;&nbsp;

            {% endif %}

            {% if app.user|default(false) and is_granted('ROLE_ADMIN') %}

                <a href="{{ path('admin_home') }}" class="btn btn-secondary">{{ 'admin.home.link'|trans }}</a>
                &nbsp;&nbsp;

            {% endif %}

            <a href="https://github.com/minutis-redcall/app/blob/master/docs/user/fr/README.md"
               target="_blank" class="btn btn-secondary">{{ 'base.documentation'|trans }}</a>

            {% block locales %}
                <div class="text-center">
                    <br/>
                    <a href="{{ path('locale', {locale: 'en'}) }}"> 🇬🇧 English</a>
                    &nbsp;
                    <a href="{{ path('locale', {locale: 'fr'}) }}"> 🇫🇷 Français</a>
                    &nbsp;
                    <a href="{{ path('locale', {locale: 'es'}) }}"> 🇪🇸 Español</a>
                    &nbsp;
                    <a href="{{ path('locale', {locale: 'pt'}) }}"> 🇵🇹 Português</a>
                </div>
            {% endblock %}

            <hr>

            <div class="row">
                <div class="col-12">
                    <span style="font-size:12px;">{{ 'backlinks.minutis'|trans }}</span>
                    <br/>
                    <span style="font-size:12px;">{{ 'backlinks.redcross'|trans }}</span>
                </div>
            </div>

        </div>

    {% endblock %}

</div>

{% block javascripts %}

    <script type="text/javascript">

        $('body').on('click', '.copy-to-clipboard', function (e) {
            e.preventDefault();

            var that = $(this);
            navigator.clipboard.writeText(that.html()).then(function () {
                that.tooltip({
                    title: 'Copied!',
                    trigger: 'manual',
                });
                that.tooltip('show');
                setTimeout(function () {
                    that.tooltip('hide');
                }, 1000);
            });
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

    </script>

{% endblock %}

</body>
</html>
