<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}RedCall{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{{ encore_entry_script_tags('app') }}

<div class="container mt-2">

    {% block flashes %}
        {% if translation_domain is not defined %}
            {% set translation_domain = null %}
        {% endif %}
        {% if close is not defined %}
            {% set close = false %}
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-warning">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {% if close %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
                {{ flashMessage|trans({}, translation_domain) }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block header %}
        <div class="card-header">

            {% block menu %}

                {% if app.user|default(false) %}

                    {% if app.user.trusted %}
                        <a href="{{ path('home') }}"
                           class="btn btn-secondary text-sm-center">{{ 'base.home'|trans }}</a>

                        <a href="{{ path('create_campaign') }}"
                           class="btn btn-secondary text-sm-center">{{ 'campaign.titles.create_full'|trans }}</a>

                        <a href="{{ path('list_campaigns') }}"
                           class="btn btn-secondary text-sm-center">{{ 'campaign.titles.list_full'|trans }}</a>

                    {% endif %}

                {% endif %}

            {% endblock %}

        </div>
    {% endblock %}

    {% block maintenance %}
        {% set maintenance = setting(constant('App\\Settings::MAINTENANCE_MESSAGE_CONTENT')) %}
        {% if maintenance and is_granted('ROLE_TRUSTED') %}
            <div class="alert alert-{{ setting(constant('App\\Settings::MAINTENANCE_MESSAGE_TYPE')) }}">
                {{ maintenance|nl2br }}
            </div>
        {% endif %}
    {% endblock %}

    {% block modals %}{% endblock %}
    {% block body %}{% endblock %}

    {% block footer %}
        <div class="text-center card-footer">

            {% block security %}

                {% if is_redcross %}
                    <a href="{{ minutis_url }}">{{ 'minutis.back'|trans }}</a>

                    <br/><br/>
                {% endif %}

                {{ include('@PasswordLogin/menu.html.twig', {
                    display_profile: not is_redcross,
                    display_manage_users: false,
                }) }}

            {% endblock %}

            <br/>

            {% if app.environment == 'dev' %}

                <a href="{{ path('sandbox_home') }}" class="btn btn-secondary">{{ 'sandbox.home.link'|trans }}</a>
                &nbsp;&nbsp;
            {% endif %}

            {% if app.user|default(false) and (is_granted('ROLE_ADMIN') or user_information().structures.count) %}

                <a href="{{ path('management_home') }}" class="btn btn-secondary">{{ 'management.home.link'|trans }}</a>
                &nbsp;&nbsp;

            {% endif %}

            {% if app.user|default(false) and is_granted('ROLE_ADMIN') %}

                <a href="{{ path('admin_home') }}" class="btn btn-secondary">{{ 'admin.home.link'|trans }}</a>
                &nbsp;&nbsp;

            {% endif %}

            <a href="https://github.com/redcall-io/app/blob/master/docs/user/fr/README.md"
               target="_blank" class="btn btn-secondary">{{ 'base.documentation'|trans }}</a>

            {% block locales %}
                <div class="text-center">
                    <br/>
                    {% if app.request.locale != 'en' %}
                        <a href="{{ path('locale', {locale: 'en'}) }}"> 🇬🇧 English</a>
                    {% endif %}
                    {% if app.request.locale != 'fr' %}
                        <a href="{{ path('locale', {locale: 'fr'}) }}"> 🇫🇷 Français</a>
                    {% endif %}
                </div>
            {% endblock %}

        </div>
    {% endblock %}

</div>

{% block javascripts %}{% endblock %}

</body>
</html>
