{# Toggle instead of tick #}
{% block checkbox_widget %}
    <div>
        {{ form_errors(form) }}
        <label class="switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="slider"></span>
        </label>
        <label>{{ form.vars.label|trans }}</label>
    </div>
{% endblock %}

{# Campaign type (red, orange, green) #}
{% block types_row %}
    <div class="form-group">
        {{ form_label(form) }}
        <div style="padding-left:15px;padding-right:15px;">
            {% for child in form.children %}
                {% set color = constant('App\\Entity\\Campaign::COLORS')[child.vars.value] %}
                <div style="font-weight:bold;color:{{ color|e('html_attr') }};">

                    {{ form_widget(child, {
                        attr: form.vars.attr|merge({
                            class: child.vars.attr.class|default('') ~ ' answer-color',
                        })
                    }) }}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{# One answer of the collection (having the "delete" button at its right) #}
{% block answer_row %}
    <div class="row answer-row" style="margin-bottom: 5px;" id="answer-nb-{{ name }}">

        <div class="col-10">
            {{ form_errors(form) }}
            {{ form_widget(form, {
                attr: form.vars.attr|merge({
                    placeholder: 'form.communication.fields.answer'|trans,
                    class: form.vars.attr.class|default('') ~ ' answer-input',
                })
            }) }}
        </div>

        <div class="col-2 text-right">
            <a href="#" data-index="{{ name }}" class="remove-answer btn btn-danger">{{ 'form.communication.fields.remove'|trans }}</a>
        </div>

    </div>
{% endblock %}

{% block nivol_row %}

    {{ form_errors(form) }}

    {{ form_widget(form, {
        attr: {
            'class': 'flexdatalist',
            'placeholder': 'base.search.placeholder'|trans,
            'data-data': data ? data|json_encode : '[]',
            'data-url': path('widget_nivol_search', {searchAll: true}),
            'data-search-disabled': true,
            'data-min-length': 1,
            'data-visible-properties': '["firstName", "lastName", "tags", "structures"]',
            'data-no-results-text': 'base.search.no_results'|trans,
            'data-focus-first-result': true,
            'data-selection-required': true,
            'data-text-property': 'nivol',
            'data-value-property': 'nivol',
        }
    }) }}

{% endblock %}