{# Toggle instead of tick #}
{% block checkbox_widget %}
    <div>
        {{ form_errors(form) }}
        <label class="switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="slider"></span>
        </label>
        <label>{{ form.vars.label|trans }}</label>
    </div>
{% endblock %}

{# Campaign type (red, orange, green) #}
{% block types_row %}
    <div class="form-group">
        {{ form_label(form) }}
        <div class="row" style="padding-left:15px;padding-right:15px;">
            {% for child in form.children %}
                {% set color = constant('App\\Entity\\Campaign::COLORS')[child.vars.value] %}
                <div class="col-md-3" style="font-weight:bold;color:{{ color|e('html_attr') }};">

                    {{ form_widget(child, {
                        attr: form.vars.attr|merge({
                            class: child.vars.attr.class|default('') ~ ' answer-color',
                        })
                    }) }}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{# One answer of the collection (having the "delete" button at its right) #}
{% block answer_row %}
    <div class="row answer-row" style="margin-bottom: 5px;" id="answer-nb-{{ name }}">

        <div class="col-10">
            {{ form_errors(form) }}
            {{ form_widget(form, {
                attr: form.vars.attr|merge({
                    placeholder: 'form.communication.fields.answer'|trans,
                    class: form.vars.attr.class|default('') ~ ' answer-input',
                })
            }) }}
        </div>

        <div class="col-2 text-right">
            <a href="#" data-index="{{ name }}"
               class="remove-answer btn btn-danger">{{ 'form.communication.fields.remove'|trans }}</a>
        </div>

    </div>
{% endblock %}

{% block volunteer_widget_row %}

    {{ form_label(form) }}

    {{ form_widget(form, {
        attr: {
            'class': 'flexdatalist',
            'placeholder': 'base.search.placeholder'|trans,
            'data-data': data ? data|json_encode : '[]',
            'data-url': path('widget_nivol_search', {searchAll: true}),
            'data-search-disabled': true,
            'data-min-length': 1,
            'data-visible-properties': '["human"]',
            'data-no-results-text': 'base.search.no_results'|trans,
            'data-focus-first-result': true,
            'data-selection-required': true,
            'data-text-property': 'nivol',
            'data-value-property': 'nivol',
        }
    }) }}

{% endblock %}

{% block structure_widget_row %}
    <div class="form-group">
        {{ form_label(form) }}

        {{ form_widget(form, {
            attr: {
                'class': 'flexdatalist',
                'placeholder': 'base.search.placeholder'|trans,
                'data-data': data ? data|json_encode : '[]',
                'data-url': path('widget_structure_search', {searchAll: true}),
                'data-search-disabled': true,
                'data-min-length': 1,
                'data-visible-properties': '["name", "volunteers"]',
                'data-no-results-text': 'base.search.no_results'|trans,
                'data-focus-first-result': true,
                'data-selection-required': true,
                'data-text-property': 'name',
                'data-value-property': 'id',
            }
        }) }}
    </div>
{% endblock %}

{% block badge_widget_row %}
    <div class="form-group">
        {{ form_label(form) }}

        {{ form_widget(form, {
            attr: {
                'class': 'flexdatalist',
                'placeholder': 'base.search.placeholder'|trans,
                'data-data': data ? data|json_encode : '[]',
                'data-url': path('widget_badge_search'),
                'data-search-disabled': true,
                'data-min-length': 1,
                'data-visible-properties': '["name"]',
                'data-no-results-text': 'base.search.no_results'|trans,
                'data-focus-first-result': true,
                'data-selection-required': true,
                'data-text-property': 'name',
                'data-value-property': 'id',
                'multiple': multiple,
            }
        }) }}
    </div>
{% endblock %}

{% block category_widget_row %}
    <div class="form-group">
        {{ form_label(form) }}

        {{ form_widget(form, {
            attr: {
                'class': 'flexdatalist',
                'placeholder': 'base.search.placeholder'|trans,
                'data-data': data ? data|json_encode : '[]',
                'data-url': path('widget_category_search'),
                'data-search-disabled': true,
                'data-min-length': 0,
                'data-visible-properties': '["name"]',
                'data-no-results-text': 'base.search.no_results'|trans,
                'data-focus-first-result': true,
                'data-selection-required': true,
                'data-text-property': 'name',
                'data-value-property': 'id',
            }
        }) }}

    </div>
{% endblock %}

{% block phone_row %}

    {{ form_row(form) }}

    <script type="text/javascript">
        $(function () {
            var tel = document.querySelector('#{{ form.vars.id }}');
            var iti = intlTelInput(tel, {
                nationalMode: true,
                defaultCountry: 'FR',
                preferredCountries: ['FR', 'GP', 'GF', 'MQ', 'YT', 'PF', 'RE', 'NC', 'PM', 'BL', 'MF', 'WF'],
            });
            var handleChange = function () {
                if (iti.isValidNumber()) {
                    var e164 = $('#{{ form.vars.id }}').data('e164');
                    $(e164).val(
                        iti.getNumber()
                    );
                }
            }
            tel.addEventListener('change', handleChange);
            tel.addEventListener('keyup', handleChange);
        });
    </script>

{% endblock %}

{% block phone_card_row %}

    <div class="col-md-4 phone-row" id="form-row-{{ form.vars.id }}">
        <div class="card">
            <div class="card-header">
                <div class="card-title h3">
                    {{ 'phone_card.title'|trans({'%index%': intval(name) + 1}) }}
                    <div class="float-right phone-main {% if not form.preferred.vars.data %}d-none{% endif %}">
                        <div class="badge badge-success" style="background-color:#48C765;">
                            {{ 'phone_card.main'|trans }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_row(form.editor, {
                    attr: {
                        'data-e164': '#' ~ form.e164.vars.id
                    }
                }) }}
                {{ form_row(form.e164) }}

                <div class="d-none">
                    {{ form_row(form.preferred) }}
                </div>

                <div class="float-left phone-use {% if form.preferred.vars.data %}d-none{% endif %}"
                     data-target="#form-row-{{ form.vars.id }}">
                    <a href="#"
                       class="btn btn-success">
                        {{ 'phone_card.use'|trans }}
                    </a>
                </div>

                <div class="float-right">
                    <a href="#"
                       class="btn btn-small btn-secondary delete-phone"
                       style="border: 1px solid red!important;"
                       data-target="#form-row-{{ form.vars.id }}">
                        ❌
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block phones_row %}

    <div class="phone-collection" data-index="{{ form.children|length }}">
        {{ form_widget(form, {
            attr: {
                'class': 'row',
            }
        }) }}
    </div>

    <br/>

    <div class="add-phone-container">
        <a href="#"
           class="btn btn-secondary add-phone">
            {{ 'phone_card.add'|trans }}
        </a>
    </div>

    <br/>

    <script type="text/javascript">

        $('.add-phone').click(function (e) {
            e.preventDefault();

            if ($('.phone-row').length >= 9) {
                return;
            }

            var container = $('#{{ form.vars.id }}').parent();
            var index = container.data('index');

            var collection = $('#{{ form.vars.id }}');
            var prototype = collection.data('prototype').replace('#1', '#' + (index + 1));

            collection.append(prototype.replace(/__name__/g, index));
            container.data('index', index + 1);

            if ($('.phone-row').length >= 9) {
                $('.add-phone-container').addClass('d-none');
            }
        });

        $('body').on('click', '.delete-phone', function (e) {
            e.preventDefault();

            var that = $(this);
            $(that.data('target')).remove();

            var container = $('.phone-collection #{{ form.vars.id }}');
            var index = container.data('index');
            container.data('index', index - 1);

            $('.add-phone-container').removeClass('d-none');
        });

        $('body').on('click', '.phone-use', function (e) {
            e.preventDefault();

            var that = $(this);
            $('.phone-use').removeClass('d-none');
            $('.phone-main').addClass('d-none');
            that.addClass('d-none');
            $(that.data('target') + ' .phone-main').removeClass('d-none');

            $('#{{ form.vars.id }} input[type="checkbox"]').each(function () {
                $(this).prop('checked', false);
            });

            $(that.data('target') + ' input[type="checkbox"]').click();
        });

    </script>

{% endblock %}

