{% block checkbox_widget %}
    <div>
        {{ form_errors(form) }}
        <label class="switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="slider"></span>
        </label>
        <label>{{ form.vars.label|trans }}</label>
    </div>
{% endblock %}

{% block types_row %}

    <div class="form-group">
        {{ form_label(form) }}
        <div style="padding-left:15px;padding-right:15px;">
            {% for child in form.children %}
                {% set color = constant('App\\Entity\\Campaign::COLORS')[child.vars.value] %}
                <div style="font-weight:bold;color:{{ color|e('html_attr') }};">

                    {{ form_widget(child, {
                        attr: form.vars.attr|merge({
                            class: child.vars.attr.class|default('') ~ ' answer-color',
                        })
                    }) }}

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block answer_row %}

    <div class="row answer-row" style="margin-bottom: 5px;" id="answer-nb-{{ name }}">

        <div class="col-10">
            {{ form_errors(form) }}
            {{ form_widget(form, {
                attr: form.vars.attr|merge({
                    placeholder: 'form.communication.fields.answer'|trans,
                    class: form.vars.attr.class|default('') ~ ' answer-input',
                })
            }) }}
        </div>

        <div class="col-2 text-right">
            <a href="#" data-index="{{ name }}" class="remove-answer btn btn-danger">{{ 'form.communication.fields.remove'|trans }}</a>
        </div>

    </div>

{% endblock %}
