{% extends 'base.html.twig' %}

{% block menu %}
    <div class="text-center">
        <img src="{{ asset('minutis.png') }}" style="max-width: 100px;"/>
    </div>
{% endblock %}

{% block body %}

    <br/>
    <div class="jumbotron text-center">

        {% if not app.user.structures.count %}

            <div class="row">

                <div class="col-md-12 jumbotron">

                    <h3>{{ 'campaign.no_nivol.title'|trans }}</h3>

                    {{ 'campaign.no_nivol.description'|trans }}

                </div>

            </div>

        {% else %}

            <div class="row">
                <div class="col-12">
                    <div class="h2" style="color:#708c91;">{{ 'campaign.titles.create_full'|trans }}</div>
                    <br/>
                </div>
                <div class="col-4">
                    <a href="{{ path('create_campaign', {type: 'sms'}) }}" class="btn btn-secondary" style="width:80%;padding:15px;">
                        <div style="font-size:60px;">📱</div>
                        <strong>{{ 'campaign.titles.sms'|trans }}</strong>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{{ path('create_campaign', {type: 'call'}) }}" class="btn btn-secondary" style="width:80%;padding:15px;">
                        <div style="font-size:60px;">📞</div>
                        <strong>{{ 'campaign.titles.call'|trans }}</strong>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{{ path('create_campaign', {type: 'email'}) }}" class="btn btn-secondary" style="width:80%;padding:15px;">
                        <div style="font-size:60px;">✉️</div>
                        <strong>{{ 'campaign.titles.email'|trans }}</strong>
                    </a>
                </div>
            </div>

            <br/><br/><br/>

            <a href="{{ path('list_campaigns') }}"
               class="text-lg-center large-button btn btn-secondary" style="width:94%;">{{ 'campaign.titles.list_full'|trans }}</a>

            <br/><br/><br/>

            {% if issues.phones or issues.emails %}
                <div class="alert alert-warning">
                    <p>⚠️</p>
                    <hr/>
                    <div class="text-left">
                        <p>{{ 'issues.not_reachable'|trans }}️</p>
                        {% if issues.phones %}
                            <p>{{ 'issues.phones'|trans({'%nbr%': issues.phones}) }}️</p>
                        {% endif %}
                        {% if issues.emails %}
                            <p>{{ 'issues.emails'|trans({'%nbr%': issues.emails}) }}️</p>
                        {% endif %}
                        <p>
                            <a href="{{ path('management_issues_index') }}">{{ 'issues.list'|trans }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    </div>

{% endblock %}
