{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <br/>
    <div class="jumbotron text-center">

        {% if not user_information().structures.count|length %}

            <div class="row">

                <div class="col-md-12 jumbotron">

                    <h3>{{ 'campaign.no_nivol.title'|trans }}</h3>

                    {{ 'campaign.no_nivol.description'|trans }}

                </div>

            </div>

        {% else %}

            <a href="{{ path('create_campaign') }}"
               class="text-lg-center large-button btn btn-secondary">{{ 'campaign.titles.create_full'|trans }}</a>

            <br/><br/><br/>

            <a href="{{ path('list_campaigns') }}"
               class="text-lg-center large-button btn btn-secondary">{{ 'campaign.titles.list_full'|trans }}</a>

        {% endif %}

    </div>

{% endblock %}
