{% extends 'base.html.twig' %}

{% block menu %}
    <div class="text-center">
        <img src="{{ asset('minutis.png') }}" style="max-width: 100px;"/>

        {% if app.user.root %}
            <div class="float-right" style="margin-top:-5px;">
                {{ render(controller('\\App\\Controller\\Admin\\PlatformController::renderSwitch')) }}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block body %}

    <br/>
    <div class="jumbotron shadow p-3 mb-5 rounded text-center">

        {% if not app.user.structures.count %}

            <div class="row">

                <div class="col-md-12 p-3 mb-5 rounded">

                    <h3>{{ 'campaign.no_structures.title'|trans }}</h3>

                    {{ 'campaign.no_structures.description'|trans }}

                </div>

            </div>

        {% else %}

            <div class="row">
                <div class="col-12">
                    <div class="h2" style="color:#708c91;">{{ 'campaign.titles.create_full'|trans }}</div>
                    <br/>
                </div>
                <div class="col-4">
                    <a href="{{ path('create_campaign', {type: 'sms'}) }}" class="btn btn-secondary" style="width:100%;padding:15px;">
                        <div style="font-size:35px;">📱</div>
                        <strong>{{ 'campaign.titles.sms'|trans }}</strong>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{{ path('create_campaign', {type: 'call'}) }}" class="btn btn-secondary" style="width:100%;padding:15px;">
                        <div style="font-size:35px;">📞</div>
                        <strong>{{ 'campaign.titles.call'|trans }}</strong>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{{ path('create_campaign', {type: 'email'}) }}" class="btn btn-secondary" style="width:100%;padding:15px;">
                        <div style="font-size:35px;">✉️</div>
                        <strong>{{ 'campaign.titles.email'|trans }}</strong>
                    </a>
                </div>
            </div>

            <br/><br/><br/>

            <a href="{{ path('list_campaigns') }}"
               class="text-lg-center large-button btn btn-secondary" style="width:100%;">{{ 'campaign.titles.list_full'|trans }}</a>

            <br/><br/><br/>

            <div id="issues">
                <img src="{{ asset('spinner.gif') }}" style="width:25px;"/>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% if app.user.structures.count %}

        <script type="text/javascript">

            $(function () {
                $.get('{{ path('audience_home') }}', function (content) {
                    $('#issues').html(content);
                });
            });

        </script>

    {% endif %}

{% endblock %}
