{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {{ 'new_communication.title'|trans }}
        <br/>
        <div class="h3">{{ 'new_communication.subtitle'|trans({'%label%': campaign.label|lower}) }}</div>
    </h1>

    {{ form_start(form, {attr: {'action': path('communication_new', {campaignId: campaign.id})}}) }}
    {{ include('new_communication_form.html.twig') }}
    {{ form_end(form) }}

    <a href="{{ path('communication_index', {campaignId: campaign.id}) }}" class="btn btn-light">
        {{ 'form.communication.fields.back'|trans }}
    </a>

    <br/><br/>

{% endblock %}
