{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="jumbotron text-center">

        {% if is_redcross %}

            <button class="text-lg-center large-button btn btn-secondary" data-toggle="modal" data-target="#maintenanceRefreshModal">{{ 'maintenance.refresh'| trans }}</button>

            <div class="modal fade" id="maintenanceRefreshModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ 'maintenance.refresh'| trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'maintenance.modal.for_dev_only'|trans }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'label.cancel'|trans | capitalize }}</button>
                            <a href="{{ path('admin_maintenance_refresh') }}" class="btn btn-primary">{{ 'maintenance.modal.refresh_button'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <br/><br/>

            <button class="text-lg-center large-button btn btn-secondary" data-toggle="modal" data-target="#maintenanceRefreshAllModal">{{ 'maintenance.refresh_all'| trans }}</button>

            <div class="modal fade" id="maintenanceRefreshAllModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ 'maintenance.refresh_all'| trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'maintenance.modal.for_dev_only'|trans }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'label.cancel'|trans | capitalize }}</button>
                            <a href="{{ path('admin_maintenance_refresh_all') }}" class="btn btn-primary">{{ 'maintenance.modal.refresh_button'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>

        {% endif %}

        <a href="{{ path('admin_maintenance_message') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'maintenance.message.title'|trans }}</a>

        <br/><br/><br/>

        <a href="{{ path('admin_home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}