{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="jumbotron text-center">

        {% if is_redcross %}

            {% set body %}
                <p>{{ 'maintenance.modal.for_dev_only'|trans }}</p>
            {% endset %}

            {% set buttons %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'label.cancel'|trans | capitalize }}</button>
                <a href="{{ path('admin_maintenance_refresh') }}" class="btn btn-primary">{{ 'maintenance.modal.refresh_button'|trans }}</a>
            {% endset %}

            {{ macros.modal('refresh-expired', 'maintenance.refresh'|trans, body, buttons) }}

            <button class="text-lg-center large-button btn btn-secondary" data-toggle="modal" data-target="#refresh-expired">{{ 'maintenance.refresh'| trans }}</button>

            <br/><br/>

            {% set buttons %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'label.cancel'|trans | capitalize }}</button>
                <a href="{{ path('admin_maintenance_refresh_all') }}" class="btn btn-primary">{{ 'maintenance.modal.refresh_button'|trans }}</a>
            {% endset %}

            {{ macros.modal('refresh-all', 'maintenance.refresh_all'|trans, body, buttons) }}
            <button class="text-lg-center large-button btn btn-secondary" data-toggle="modal" data-target="#refresh-all">{{ 'maintenance.refresh_all'| trans }}</button>

            <br/><br/>

        {% endif %}

        <a href="{{ path('admin_maintenance_message') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'maintenance.message.title'|trans }}</a>

        <br/><br/><br/>

        <a href="{{ path('admin_home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}