{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block body %}

    <div class="rc-section rc-section-center text-center">

        <a class="text-lg-center large-button btn btn-secondary" href="{{ path('admin_maintenance_refresh') }}">{{ 'maintenance.refresh'| trans }}</a>

        <div class="mb-2"></div>

        <a class="text-lg-center large-button btn btn-secondary" href="{{ path('admin_maintenance_pegass_files') }}">{{ 'maintenance.pegass'| trans }}</a>

        <div class="mb-2"></div>

        <a class="text-lg-center large-button btn btn-secondary" href="{{ path('admin_maintenance_annuaire_national') }}">{{ 'maintenance.annuaire'| trans }}</a>

        <div class="mb-2"></div>

        <a href="{{ path('admin_maintenance_search') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'maintenance.search.title'|trans }}</a>

        <div class="mb-2"></div>

        <a href="{{ path('admin_maintenance_message') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'maintenance.message.title'|trans }}</a>

        <div class="mt-4"></div>

        <div class="rc-back-link">
            <a href="{{ path('admin_home') }}"
               class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
        </div>

    </div>

{% endblock %}