{% set uuid = uuid() %}

{% macro classify(uuid, classified, index) %}

    {% if classified[index]|length %}
        <p>
            {{ ('audience.classify.' ~ index)|trans({'%nbr%': classified[index]|length}) }}
            <span class="volunteers-toggle-details btn btn-link" data-target="class-{{ uuid }}-{{ index }}">🔍</span>
        </p>
        <div id="class-{{ uuid }}-{{ index }}" class="d-none">{{ classified[index]|join(', ') }}</div>
    {% endif %}

{% endmacro %}

{% import _self as macros %}

<div id="class-{{ uuid }}">

    {{ macros.classify(uuid, classified, 'invalid') }}
    {{ macros.classify(uuid, classified, 'disabled') }}
    {{ macros.classify(uuid, classified, 'inaccessible') }}
    {{ macros.classify(uuid, classified, 'no_phone') }}
    {{ macros.classify(uuid, classified, 'phone_optout') }}
    {{ macros.classify(uuid, classified, 'no_email') }}
    {{ macros.classify(uuid, classified, 'email_optout') }}

    {% if classified.reachable|length %}
        <p>
            {{ 'audience.classify.reachable'|trans({'%nbr%': classified.valid|length}) }}
        </p>
    {% endif %}

</div>

<script type="text/javascript">
    $('.volunteers-toggle-details').click(function(e) {
        e.preventDefault();
        $('#' + $(this).data('target')).toggleClass('d-none');
    });
</script>