{% if classified.invalid|length %}
    <p>
        {{ 'new_communication.classify.invalid'|trans({'%nbr%': classified.invalid|length}) }}
        <a href="#" class="volunteers-toggle-details" data-target="volunteers-toggle-details-invalid">🔍</a>
    </p>
    <div id="volunteers-toggle-details-invalid" class="d-none">{{ classified.invalid|join(', ') }}</div>
{% endif %}

{% if classified.disabled|length %}
    <p>
        {{ 'new_communication.classify.disabled'|trans({'%nbr%': classified.disabled|length}) }}
        <a href="#" class="volunteers-toggle-details" data-target="volunteers-toggle-details-disabled">🔍</a>
    </p>
    <div id="volunteers-toggle-details-disabled" class="d-none">{{ classified.disabled|join(', ') }}</div>
{% endif %}

{% if classified.inaccessible|length %}
    <p>
        {{ 'new_communication.classify.inaccessible'|trans({'%nbr%': classified.inaccessible|length}) }}
        <a href="#" class="volunteers-toggle-details" data-target="volunteers-toggle-details-inaccessible">🔍</a>
    </p>
    <div id="volunteers-toggle-details-inaccessible" class="d-none">{{ classified.inaccessible|join(', ') }}</div>
{% endif %}

<br/>

<script type="text/javascript">
    $('.volunteers-toggle-details').click(function(e) {
        e.preventDefault();
        $('#' + $(this).data('target')).toggleClass('d-none');
    });
</script>