{% macro campaign(campaign) %}

    <div class="text-sm-left color-grey">
        {% if campaign.volunteer %}
            <p>{{ 'campaign.titles.created_by'|trans({'%name%': campaign.volunteer.displayName}) }}</p>
        {% endif %}

        <div>
            <a href="#"
               data-href="{{ path('audience_campaign', {id: campaign.id}) }}"
               data-target="#structures-in-{{ campaign.id }}"
               class="toggle-structure-list">{{ 'campaign.titles.implicated_structures'|trans }}</a>
        </div>

        <div class="d-none" id="structures-in-{{ campaign.id }}"></div>

        {{ campaign.createdAt|date("d/m/y H:i") }}
    </div>

{% endmacro %}

<script type="text/javascript">

    var anchor;
    if (location.hash) {
        anchor = location.hash;
    } else if (qs('type')) {
        anchor = '#nav-' + qs('type');
    } else {
        anchor = $("a[data-toggle='tab']").first().attr("href");
    }
    $("a[href='" + anchor + "']").tab("show");

    $('.toggle-structure-list').click(function (e) {
        e.preventDefault();
        var that = $(this);
        that.addClass('d-none');
        $(that.data('target')).toggleClass('d-none');
        $.post(that.data('href'), function (structures) {
            var target = that.data('target');
            $.each(structures, function (index, value) {
                $(target).html($(target).html() + '<p>' + value.structure_name + ' (' + value.volunteer_count + ' {{ 'campaign.titles.volunteers'|trans|e('js') }})</p>');
            });
        });
    });

</script>