{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <h1>
                {{ 'campaign.titles.create_full'|trans }}
            </h1>

            <div id="form-container">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.label) }}

                {{ form_row(form.type) }}

                <hr/>

                {{ include('new_communication/form.html.twig', _context|merge({form: form.communication})) }}

                <hr/>
                <div class="h4">{{ 'form.campaign.fields.notes_title'|trans }}</div>
                {{ form_row(form.notes) }}

                {{ form_end(form) }}

            </div>

            <div id="spinner-container" class="d-none">
                <div class="jumbotron text-center">
                    <div class="h2">{{ 'base.wait'|trans }}</div>
                    <img src="{{ asset('spinner.gif') }}" />
                </div>
            </div>

        </div>
    </div>
{% endblock %}
