{% import 'macros.html.twig' as macros %}

{{ macros.orderBy(table.orderBy, {
    'type': 'campaign.order.type'|trans,
    'createdAt': 'campaign.order.created_at'|trans,
    'label': 'campaign.order.label'|trans,
}, 'nav-' ~ type) }}

{% for index, campaign in table.pager.currentPageResults %}

    <div class="card mb-3">

        <div class="card-header bg-white d-flex align-items-center justify-content-between" style="border-left: 4px solid {{ constant('App\\Entity\\Campaign::COLORS')[campaign.type] }};">
            <div>
                <span class="badge text-white" style="background-color:{{ constant('App\\Entity\\Campaign::COLORS')[campaign.type] }};">
                    {{ ('campaign.types.' ~ campaign.type)|trans }}
                </span>
                <span class="text-muted ml-2 text-small">{{ campaign.createdAt|date("d/m/Y H:i") }}</span>
            </div>
            <div>
                <a href="{{ path('communication_index', {id: campaign.id}) }}">
                    {% if campaign.active %}
                        <span class="badge badge-pill badge-success">{{ 'base.open'|trans }}</span>
                    {% else %}
                        <span class="badge badge-pill badge-danger">{{ 'base.closed'|trans }}</span>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="card-body">

            <h4 class="card-title">
                {% for communication in campaign.communications %}
                    {{ macros.communicationIcon(communication) }}
                {% endfor %}
                <a href="{{ path('communication_index', {id: campaign.id}) }}">
                    {% if not campaign.active %}
                        <del>{{ campaign.label }}</del>
                    {% else %}
                        {{ campaign.label }}
                    {% endif %}
                </a>

                <span class="text-small text-muted">
                    {{ campaign.renderedShortcuts }}
                </span>

                {% if campaign.operation %}
                    <div class="float-right">
                        <a href="{{ campaign.operationUrl(minutis) }}" class="btn btn-secondary" target="_blank">🚑 {{ 'minutis.open'|trans }}</a>
                    </div>
                {% endif %}
            </h4>

            <div class="card-text">
                <div class="text-muted">
                    {% if campaign.volunteer %}
                        <p>{{ 'campaign.titles.created_by'|trans({'%name%': campaign.volunteer.displayName}) }}</p>
                    {% endif %}

                    {% if campaign.reportReady %}

                        <div>
                            <a href="#"
                               class="btn btn-sm btn-secondary open-report"
                               data-href="{{ path('campaign_report', {id: campaign.id}) }}"
                               data-target="#report-{{ campaign.id }}">{{ 'campaign.titles.report'|trans }}</a>
                        </div>

                        <div class="d-none" id="report-{{ campaign.id }}"></div>

                    {% else %}

                        <div>
                            <a href="#"
                               data-href="{{ path('audience_campaign', {id: campaign.id}) }}"
                               data-target="#structures-in-{{ campaign.id }}"
                               class="btn btn-sm btn-secondary toggle-structure-list">{{ 'campaign.titles.implicated_structures'|trans }}</a>
                        </div>

                    {% endif %}

                    <div class="d-none" id="structures-in-{{ campaign.id }}"></div>
                </div>
            </div>

        </div>
    </div>

{% endfor %}

{{ macros.pager(table.pager, type, {type: type}) }}

