{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-md-center">
        <div class="col-md-12">

            <h1>
                {{ 'campaign.titles.list_admin'|trans }}
            </h1>

            {{ include('campaign/table.html.twig') }}

        </div>
    </div>

    <div class="text-center">
        <br/><br/>

        <a href="{{ path('admin_home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

        <br/><br/>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        {{ include('campaign/common.js.twig') }}

    </script>

{% endblock %}