{% import 'macros.html.twig' as macros %}
{% import 'campaign/common.html.twig' as common %}

<h1>
    {{ 'campaign.titles.list_admin'|trans }}
</h1>

{{ macros.orderBy(all.orderBy, {
    'type': 'campaign.order.type'|trans,
    'createdAt': 'campaign.order.created_at'|trans,
    'label': 'campaign.order.label'|trans,
}, 'nav') }}

{% for index, campaign in all.pager.currentPageResults %}
    <div class="row separated" style="background-color: {{ cycle(['#eeeeee', '#ffffff'], index) }};">
        <div class="col-3" style="display:flex;align-items:center;{% if not campaign.active %}opacity:60%;{% endif %}">
            {{ macros.triggerColor(campaign.type) }}
        </div>
        <div class="col-9">
            {% for communication in campaign.communications %}
                {{ macros.communicationIcon(communication) }}
            {% endfor %}
            <a href="{{ path('communication_index', {id: campaign.id}) }}">
                {% if not campaign.active %}
                    <strike>{{ campaign.label }}</strike>
                {% else %}
                    {{ campaign.label }}
                {% endif %}
            </a>

            <br/>

            {{ common.campaign(campaign) }}

        </div>
    </div>
    <br/>
{% endfor %}

{{ macros.pager(all.pager) }}

{{ include('campaign/common.html.twig') }}
