{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.user_list.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% set type = app.request.query.get('type', 'user') %}

{% block body %}

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link {% if type == 'user' %}active{% endif %}" id="nav-list-tab" data-toggle="tab"
               href="#nav-list" role="tab"
               aria-controls="nav-enabled" aria-selected="true">{{ 'admin.user.list'|trans }}</a>
            <a class="nav-item nav-link {% if type == 'pegass' %}active{% endif %}" id="nav-pegass-tab"
               data-toggle="tab"
               href="#nav-pegass" role="tab"
               aria-controls="nav-disabled" aria-selected="false">{{ 'admin.user.pegass'|trans }}</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-content">

        <div class="tab-pane {% if type == 'user' %}show active{% endif %}"
             id="nav-list"
             role="tabpanel" aria-labelledby="nav-list-tab">

            {{ block('body', '@!PasswordLogin/admin/list.html.twig') }}

        </div>
        <div class="tab-pane {% if type == 'pegass' %}show active{% endif %}"
             id="nav-pegass"
             role="tabpanel" aria-labelledby="nav-pegass-tab">

            {{ render(controller('\\App\\Controller\\Admin\\PegassController::index')) }}

        </div>

    </div>

    {{ block('locales') }}

{% endblock %}