{% import 'macros.html.twig' as macros %}

{# -------------------------------------------------------------------------------- #}
{# Campaign label and color #}
{# -------------------------------------------------------------------------------- #}
<br/>
<div class="row">
    <div class="col-12 h1" {% if campaign.active and is_granted('CAMPAIGN_OWNER', campaign) %}onclick="$('#change-campaign-label').modal();"{% endif %} style="cursor: pointer;">
        {% if not campaign.active %}
            <strike>{{ campaign.label }}</strike>
        {% else %}
            {{ campaign.label }}
        {% endif %}

        {% if not campaign.active %}
            <em>({{ 'campaign.statuses.finished'|trans|lower }})</em>
        {% elseif is_granted('CAMPAIGN_OWNER', campaign) %}
            <span class="float-right badge badge-light" style="cursor:pointer;">✏️</span>
        {% endif %}
    </div>
    {% if operationUrl %}
        <div class="col-12 skip-line">
            {% if operationUrl %}
                <a href="{{ operationUrl }}" class="btn btn-secondary btn-sm mb-2" target="_blank">{{ 'form.operation.url'|trans }}</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="col-12 skip-line" {% if campaign.active and is_granted('CAMPAIGN_OWNER', campaign) %}onclick="$('#change-color').modal();"{% endif %} style="cursor:pointer;">
        {% set hexColor = constant('App\\Entity\\Campaign::COLORS')[campaign.type] %}
        <div id="current-color" class="w-100 text-center text-white badge" style="background-color:{{ hexColor }};">
            {{ ('campaign.types.' ~ campaign.type)|trans }}
            {% if campaign.active and is_granted('CAMPAIGN_OWNER', campaign) %}
                <span>✏️</span>
            {% endif %}
        </div>
    </div>
</div>

{# -------------------------------------------------------------------------------- #}
{# Notes associated with the campaign #}
{# -------------------------------------------------------------------------------- #}
<div class="col-12 skip-line" id="campaign-notes" data-notes-updated-timestamp="{{ campaign.notesUpdatedAt ? campaign.notesUpdatedAt|date('U') : 0 }}">
    <div id="campaign-notes-border" style="padding: 5px; margin: 0px -10px; border: 1px solid black;background-color:#eeeeee;">
        {% if campaign.active %}
            <span class="float-right badge" onclick="$('#change-notes').modal();" style="cursor:pointer;padding-bottom:3px;">✏️</span>
        {% endif %}
        <div id="campaign-notes-content" class="text-to-hypertext">
            {% if not campaign.notes %}
                {{ 'campaign_status.no_notes_yet'|trans }}
            {% else %}
                {{ campaign.notes|nl2br }}
            {% endif %}
        </div>
        <div class="text-right" style="padding-top:5px;">
            <em id="campaign-notes-last-update">
                {% if campaign.notesUpdatedAt %}
                    {{ 'campaign_status.notes_updated_at'|trans({
                        '%date%': campaign.notesUpdatedAt|date('d/m/Y'),
                        '%time%': campaign.notesUpdatedAt|date('H:i'),
                    }) }}
                {% endif %}
            </em>
            <a href="#" id="campaign-notes-ack" class="btn btn-sm btn-danger d-none">OK</a>
        </div>
    </div>
</div>
