{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {% if structure.id %}
            {{ 'manage_structures.form.update'|trans({'%name%': structure.displayName}) }}
        {% else %}
            {{ 'manage_structures.form.create'|trans }}
        {% endif %}
    </h1>

    {{ form(form) }}

    <br/>

    <div class="text-center">
        <a href="{{ path('management_structures_list') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

    <br/><br/>

{% endblock %}