{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {{ 'manage_structures.title'|trans }}
    </h1>

    <div class="text-right">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('management_structures_create') }}" class="btn btn-secondary">
                {{ 'manage_structures.form.create'|trans }}
            </a>
        {% endif %}
    </div>

    {{ form(search) }}

    <div class="row">
        {% for structure in structures %}
            <div class="col-6" id="structure-{{ structure.id }}" style="padding:5px;">
                {{ include('management/structures/structure.html.twig', {structure: structure}) }}
            </div>
        {% endfor %}
    </div>

    {{ macros.pager(structures) }}

    <br/>

    <div class="text-center">
        <a href="{{ path('management_home') }}" class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

    <br/><br/>

    <div class="modal fade" id="redcall-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="redcall-user-modal-title" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="redcall-user-modal-body" class="modal-body text-center"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'base.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $('body').on('click', '.toggle-action', function (e) {
            e.preventDefault();
            var that = $(this);

            $.post(that.data('href'), function (data) {
                $('#structure-' + that.data('id')).html(data);
            });
        });

        $('.show-structure-users').click(function (e) {
            e.preventDefault();
            $('#redcall-user-modal-title').html('');
            $('#redcall-user-modal-body').html('<img src="{{ asset('spinner.gif') }}"/>');
            $('#redcall-user-modal').modal();
            $.post('{{ path('management_structures_list_users') }}', {
                id: $(this).data('structure-id'),
            }, function (data) {
                $('#redcall-user-modal-title').html(data.title);
                $('#redcall-user-modal-body').html(data.body);
            });
        });

    </script>

{% endblock %}