{% form_theme form 'new_communication/form_theme.html.twig' %}

<div class="float-right">
    <p id="switch-by-nivol">
        <span class="btn btn-link">{{ 'form.communication.toggle.by_nivol'|trans }}</span>
    </p>
    <p id="switch-by-filters" style="display: none">
        <span class="btn btn-link">{{ 'form.communication.toggle.by_filters'| trans }}</span>
    </p>
</div>
<br>
<br>

<div id="form-structures" class="{% if form.structures.children|length == 1 %}d-none{% endif %}">
    <div class="h4">
        {{ 'form.communication.fields.structures'|trans }}
    </div>

        {{ form_row(form.structures) }}
</div>

<div id="form-volunteers">
    {{ form_row(form.volunteers) }}
</div>
<div id="form-nivols" style="display: none">
    <h4>{{ 'form.communication.nivols_search'| trans }}</h4>
    {{ form_row(form.nivols) }}
</div>


{% set max_length_sms = constant('App\\Entity\\Message::MAX_LENGTH_SMS') %}
{% set max_length_email = constant('App\\Entity\\Message::MAX_LENGTH_EMAIL') %}

<div id="message-container">
    <div class="h4">{{ 'form.communication.fields.message'|trans }}</div>

    {{ form_row(form.type) }}

    <div id="message-subject" class="d-none">
        {{ form_row(form.subject) }}
    </div>

    {{ form_label(form.message) }}
    <div class="textarea-wrapper">
        {{ form_widget(form.message) }}
    </div>
    <div class="float-right">
        <span id="message-size">0</span>
        /
        <span id="message-max">{{ max_length_sms }}</span>
    </div>
</div>

<div class="clearfix"></div>

<div class="h4">{{ 'form.communication.fields.response_title'|trans }}</div>

{{ form_label(form.answers) }}

{{ render(controller('\\App\\Controller\\WidgetController::prefilledAnswers', {campaignId: campaign.id|default(null)})) }}

{{ include('widget/prefilled_answers_editor.html.twig', {answers: form.answers}) }}

<br/>

<div id="message-multiple-answer">
    {{ form_row(form.multipleAnswer) }}
</div>

<div id="message-geo-location">
    <div class="h4">{{ 'form.communication.fields.other_options'|trans }}</div>

    {{ form_row(form.geoLocation) }}
</div>

<div class="h4">{{ 'form.communication.fields.preview'|trans }}</div>

<div id="message-preview" style="background-color:#eeeeee;padding:5px;margin-bottom:10px;">
    &nbsp;
</div>

<div id="message-preview-audio" class="d-none">
    <a href="#" id="message-play" class="btn btn-sm btn-secondary">{{ 'base.play'|trans }}</a>
    <div id="message-player" class="d-none"></div>
    <br/><br/>
</div>

<div id="message-calc-all" style="margin-bottom:10px;">
    <div id="message-calc">
        {{ 'form.communication.fields.length'|trans }}
        <span id="message-length">--</span>
        <br/>
        {{ 'form.communication.fields.cost'|trans }}
        <span id="message-cost">--</span>
        <br/>
    </div>
    {{ 'form.communication.fields.price'|trans }}
    <span id="message-price">--</span>&euro;
</div>

<script type="text/javascript">

    {# Update message size automatically #}
    function updateMessageSize() {
        var textArea = $('#{{ form.message.vars.id }}');
        if (textArea.val().length > $('#message-max').html()) {
            textArea.val(
                textArea.val().substr(0, $('#message-max').html())
            );
        }
        $('#message-size').html(textArea.val().length);
    }

    $('#{{ form.message.vars.id }}').keyup(updateMessageSize);

    {# Disables "enter" key on input fields #}
    $('form').keypress(function (e) {
        if (e.keyCode == 13 && $(e.target).not('textarea, button').length) {
            e.preventDefault();
        }
    });

    {# Refresh preview if form is changed #}
    var previewTimeout = null;

    function refreshPreview() {
        clearTimeout(previewTimeout);
        previewTimeout = setTimeout(function () {
            $.post('{{ path('communication_preview') }}', $('form').serialize(), function (data) {
                if (data.success) {
                    $('#message-preview').html(nl2br(data.message));
                    $('#message-cost').html(data.cost);
                    $('#message-price').html(data.price);
                    $('#message-length').html(data.length);
                } else {
                    $('#message-preview').html('&nbsp;');
                    $('#message-cost').html('--');
                    $('#message-price').html('--');
                    $('#message-length').html('--');
                }
            });
        }, 1000);
    }

    $('body').on('change keyup', 'input, textarea, select', function () {
        refreshPreview();
    });

    {# When switching from email, voice or sms, apply few changes #}
    function updateMaxMessageSize() {
        switch ($('#{{ form.type.vars.id }}').find('input:checked').val()) {
            case '{{ constant('App\\Entity\\Communication::TYPE_SMS') }}':
                $('#message-max').html({{ max_length_sms }});
                $('#message-calc').removeClass('d-none');
                $('#message-subject').addClass('d-none');
                $('#message-geo-location').removeClass('d-none');
                $('textarea, .textarea-wrapper').css('height', '78px');
                $('#message-multiple-answer').removeClass('d-none');
                $('#message-preview-audio').addClass('d-none');
                break;
            case '{{ constant('App\\Entity\\Communication::TYPE_CALL') }}':
                $('#message-max').html({{ max_length_sms }});
                $('#message-calc').addClass('d-none');
                $('#message-subject').addClass('d-none');
                $('#message-geo-location').addClass('d-none');
                $('textarea, .textarea-wrapper').css('height', '78px');
                $('#message-multiple-answer').addClass('d-none');
                $('#message-preview-audio').removeClass('d-none');
                break;
            case '{{ constant('App\\Entity\\Communication::TYPE_EMAIL') }}':
                $('#message-max').html({{ max_length_email }});
                $('#message-calc').addClass('d-none');
                $('#message-subject').removeClass('d-none');
                $('#message-geo-location').addClass('d-none');
                $('textarea, .textarea-wrapper').css('height', '150px');
                $('#message-multiple-answer').removeClass('d-none');
                $('#message-preview-audio').addClass('d-none');
                break;
        }

        updateMessageSize();
    }

    $('#{{ form.type.vars.id }}').change(function () {
        updateMaxMessageSize();
    });
    updateMaxMessageSize();

    refreshPreview();

    {# Disable submit button at submission to prevent sending communication twice #}
    $('#form-container').removeClass('d-none');
    $('#spinner-container').addClass('d-none');
    $('form').submit(function () {
        $('#form-container').addClass('d-none');
        $('#spinner-container').removeClass('d-none');
    });

    $('#switch-by-nivol, #switch-by-filters').click(function() {
        $('#form-structures').fadeToggle(0);
        $('#form-volunteers').fadeToggle(0);
        $('#form-nivols').fadeToggle(0);
        $('#switch-by-filters').fadeToggle(0);
        $('#switch-by-nivol').fadeToggle(0);
    });

    {# Preview voice calls #}
    $('#message-play').click(function(e) {
        e.preventDefault();
        $('#message-play').prop('disabled', 'disabled');
        $('#message-play').html("{{ 'base.wait'|trans }}");
        $.post('{{ path('communication_play') }}', $('form').serialize(), function (data) {
            if (data.success) {
                $('#message-player').html(data.player);
            }
            $('#message-play').removeProp('disabled');
            $('#message-play').html("{{ 'base.play'|trans }}");
        });
    });

</script>
