{% form_theme form 'audience/audience_theme.html.twig' %}
{{ form_row(form.audience) }}

<hr/>

{% set max_length_sms = constant('App\\Entity\\Message::MAX_LENGTH_SMS') %}

<div id="message-container">

    <h3>{{ 'form.communication.fields.message'|trans }}</h3>

    {{ include('new_communication/templates.html.twig') }}

    {{ form_row(form.language) }}

    <div class="{{ form.shortcut.vars.choices|length == 0 ? 'd-none' : '' }}">
        {{ form_row(form.shortcut) }}
    </div>

    {{ form_label(form.message) }}

    <div id="textarea-wrapper" class="textarea-wrapper mb-3">
        {{ form_widget(form.message) }}
    </div>

</div>

<div class="clearfix"></div>

<h3>{{ 'form.communication.fields.response_title'|trans }}</h3>

{{ include('new_communication/answers.html.twig') }}

{{ form_row(form.multipleAnswer) }}

<h3>{{ 'form.communication.fields.preview'|trans }}</h3>

{{ include('new_communication/preview.html.twig') }}

<div id="sms-length-warning" class="alert alert-danger d-none mt-3 text-center">
    {{ 'form.communication.errors.reduce_length'|trans|default('Reduce your message length to submit') }}
</div>

{{ include('new_communication/common.html.twig') }}
