{% form_theme form 'audience/audience_theme.html.twig' %}
{{ form_row(form.audience) }}

<hr/>

<div id="message-container">
    <div class="h3">{{ 'form.communication.fields.message'|trans }}</div>

    {{ include('new_communication/templates.html.twig') }}

    {{ form_row(form.language) }}

    {{ form_row(form.subject) }}

    {{ form_label(form.message) }}

    <div id="richtext-wrapper">
        {{ include('widget/quill.html.twig', {
            toolbar: 'toolbar-container',
            editor: 'editor-container',
            field: form.message,
        }) }}

        <br/>

        <div class="d-none">
            {{ form_widget(form.message) }}
        </div>
    </div>

</div>

<div class="clearfix"></div>

<div class="h3">{{ 'form.communication.fields.response_title'|trans }}</div>

{{ include('new_communication/answers.html.twig') }}

{{ form_row(form.multipleAnswer) }}

<div class="h3">{{ 'form.communication.fields.preview'|trans }}</div>

{{ include('new_communication/preview.html.twig') }}

{{ include('new_communication/common.html.twig') }}

