{% form_theme form 'audience/audience_theme.html.twig' %}
{{ form_row(form.audience) }}

<hr/>

{% set max_length_sms = constant('App\\Entity\\Message::MAX_LENGTH_SMS') %}

<div id="message-container">

    <div class="h3">{{ 'form.communication.fields.message'|trans }}</div>

    {{ form_row(form.language) }}

    <div class="{{ form.shortcut.vars.choices|length == 0 ? 'd-none' : '' }}">
        {{ form_row(form.shortcut) }}
    </div>

    {{ form_label(form.message) }}

    <div id="textarea-wrapper" class="textarea-wrapper">
        {{ form_widget(form.message) }}

        <div class="message-length float-right">
            <span id="message-size">0</span>
            /
            <span id="message-max">{{ max_length_sms }}</span>
        </div>
    </div>

</div>

<div class="clearfix"></div>

<div class="h3">{{ 'form.communication.fields.response_title'|trans }}</div>

{{ form_label(form.answers) }}

{{ render(controller('\\App\\Controller\\WidgetController::prefilledAnswers', {campaignId: campaign.id|default(null)})) }}

{{ include('widget/prefilled_answers_editor.html.twig', {answers: form.answers}) }}

<br/>

{{ form_row(form.multipleAnswer) }}

{#
<div>
    <div class="h3">{{ 'form.communication.fields.other_options'|trans }}</div>

</div>
#}

<div class="h3">{{ 'form.communication.fields.preview'|trans }}</div>

{{ include('new_communication/preview.html.twig') }}

<div id="too-long" class="d-none">
    <div style="border:1px solid grey;padding:5px;">
        <div style="background-color:red;" class="text-center">
            <p>⚠️</p>
            <strong>
                <span style="color:white!important;">{{ 'form.communication.too_long.title'|trans }}</span>
            </strong>
            <hr/>
        </div>
        <p class="text-danger">
            {{ 'form.communication.too_long.explaination_1'|trans }}
            {{ 'form.communication.too_long.explaination_2'|trans }}
            <br/><br/>
        </p>
        <ul>
            <li>{{ 'form.communication.too_long.explaination_3'|trans }}</li>
            <li>{{ 'form.communication.too_long.explaination_4'|trans }}</li>
            <li>{{ 'form.communication.too_long.explaination_5'|trans }}</li>
        </ul>
        <p>{{ 'form.communication.too_long.explaination_6'|trans }}</p>
    </div>
    <br/>
</div>

{{ include('new_communication/common.html.twig') }}
