
{{ form_row(form.audience) }}

<hr/>

{% set max_length_sms = constant('App\\Entity\\Message::MAX_LENGTH_SMS') %}
{% set max_length_email = constant('App\\Entity\\Message::MAX_LENGTH_EMAIL') %}

<div id="message-container">
    <div class="h4">{{ 'form.communication.fields.message'|trans }}</div>

    {{ form_row(form.type) }}

    <div id="message-subject" class="d-none">
        {{ form_row(form.subject) }}
    </div>

    {{ form_label(form.textMessage) }}

    <div id="textarea-wrapper" class="textarea-wrapper">
        {{ form_widget(form.textMessage) }}

        <div class="message-length float-right">
            <span id="message-size">0</span>
            /
            <span id="message-max">{{ max_length_sms }}</span>
        </div>
    </div>

    <div id="richtext-wrapper" class="d-none">
        {{ include('widget/quill.html.twig', {
            toolbar: 'toolbar-container',
            editor: 'editor-container',
        }) }}

        <br/>

        <div class="d-nonne">
            {{ form_widget(form.htmlMessage) }}
        </div>
    </div>

</div>

<div class="clearfix"></div>

<div class="h4">{{ 'form.communication.fields.response_title'|trans }}</div>

{{ form_label(form.answers) }}

{{ render(controller('\\App\\Controller\\WidgetController::prefilledAnswers', {campaignId: campaign.id|default(null)})) }}

{{ include('widget/prefilled_answers_editor.html.twig', {answers: form.answers}) }}

<br/>

<div id="message-multiple-answer">
    {{ form_row(form.multipleAnswer) }}
</div>

<div id="message-geo-location">
    <div class="h4">{{ 'form.communication.fields.other_options'|trans }}</div>

    {{ form_row(form.geoLocation) }}
</div>

<div class="h4">{{ 'form.communication.fields.preview'|trans }}</div>

<div id="message-preview" style="background-color:#eeeeee;padding:5px;margin-bottom:10px;">
    &nbsp;
</div>

<div id="message-preview-audio" class="d-none">
    <a href="#" id="message-play" class="btn btn-sm btn-secondary">{{ 'base.play'|trans }}</a>
    <div id="message-player" class="d-none"></div>
    <br/><br/>
</div>

<div id="message-calc-all" style="margin-bottom:10px;">
    <div id="message-calc">
        {{ 'form.communication.fields.length'|trans }}
        <span id="message-length">--</span>
        <br/>
        {{ 'form.communication.fields.cost'|trans }}
        <span id="message-cost">--</span>
        <br/>
    </div>
    {{ 'form.communication.fields.price'|trans }}
    <span id="message-price">--</span>&euro;
</div>

<script type="text/javascript">

    {# Update message size automatically #}
    function updateMessageSize() {
        var textArea = $('#{{ form.textMessage.vars.id }}');
        if (textArea.val().length > $('#message-max').html()) {
            textArea.val(
                textArea.val().substr(0, $('#message-max').html())
            );
        }
        $('#message-size').html(textArea.val().length);
    }

    $('#{{ form.textMessage.vars.id }}').keyup(updateMessageSize);

    {# Disables "enter" key on input fields #}
    $('form').keypress(function (e) {
        if (e.keyCode == 13 && $(e.target).not('textarea, button').length) {
            e.preventDefault();
        }
    });

    {# Refresh preview if form is changed #}
    var previewTimeout = null;

    function refreshPreview() {
        clearTimeout(previewTimeout);
        previewTimeout = setTimeout(function () {
            $.post('{{ path('communication_preview') }}', $('form').serialize(), function (data) {
                if (data.success) {
                    $('#message-preview').html(nl2br(data.message));
                    $('#message-cost').html(data.cost);
                    $('#message-price').html(data.price);
                    $('#message-length').html(data.length);
                } else {
                    $('#message-preview').html('&nbsp;');
                    $('#message-cost').html('--');
                    $('#message-price').html('--');
                    $('#message-length').html('--');
                }
            });
        }, 1000);
    }

    $('body').on('change keyup', 'input, textarea, select', function () {
        refreshPreview();
    });

    {# When switching from email, voice or sms, apply few changes #}
    function updateMaxMessageSize() {
        switch ($('#{{ form.type.vars.id }}').find('input:checked').val()) {
            case '{{ constant('App\\Entity\\Communication::TYPE_SMS') }}':
                $('#message-max').html({{ max_length_sms }});
                $('#message-calc').removeClass('d-none');
                $('#message-subject').addClass('d-none');
                $('#message-geo-location').removeClass('d-none');
                $('textarea, .textarea-wrapper').css('height', '78px');
                $('#message-multiple-answer').removeClass('d-none');
                $('#message-preview-audio').addClass('d-none');
                $('#richtext-wrapper').addClass('d-none');
                $('#textarea-wrapper').removeClass('d-none');
                break;
            case '{{ constant('App\\Entity\\Communication::TYPE_CALL') }}':
                $('#message-max').html({{ max_length_sms }});
                $('#message-calc').addClass('d-none');
                $('#message-subject').addClass('d-none');
                $('#message-geo-location').addClass('d-none');
                $('textarea, .textarea-wrapper').css('height', '78px');
                $('#message-multiple-answer').addClass('d-none');
                $('#message-preview-audio').removeClass('d-none');
                $('#richtext-wrapper').addClass('d-none');
                $('#textarea-wrapper').removeClass('d-none');
                break;
            case '{{ constant('App\\Entity\\Communication::TYPE_EMAIL') }}':
                $('#message-max').html({{ max_length_email }});
                $('#message-calc').addClass('d-none');
                $('#message-subject').removeClass('d-none');
                $('#message-geo-location').addClass('d-none');
                $('textarea, .textarea-wrapper').css('height', '150px');
                $('#message-multiple-answer').removeClass('d-none');
                $('#message-preview-audio').addClass('d-none');
                $('#richtext-wrapper').removeClass('d-none');
                $('#textarea-wrapper').addClass('d-none');
                break;
        }

        updateMessageSize();
    }

    $('#{{ form.type.vars.id }}').change(function () {
        updateMaxMessageSize();
    });
    updateMaxMessageSize();

    refreshPreview();

    {# Disable submit button at submission to prevent sending communication twice #}
    $('#form-container').removeClass('d-none');
    $('#spinner-container').addClass('d-none');
    $('form').submit(function () {
        $('#form-container').addClass('d-none');
        $('#spinner-container').removeClass('d-none');
    });

    {# Preview voice calls #}
    $('#message-play').click(function(e) {
        e.preventDefault();
        $('#message-play').prop('disabled', 'disabled');
        $('#message-play').css('cursor', 'not-allowed');
        $('#message-play').html("{{ 'base.wait'|trans }}");
        $.post('{{ path('communication_play') }}', $('form').serialize(), function (data) {
            if (data.success) {
                $('#message-player').html(data.player);
            }
            $('#message-play').removeProp('disabled');
            $('#message-play').html("{{ 'base.play'|trans }}");
            $('#message-play').css('cursor', '');
        });
    });

    {# Richtext editor for emails #}
    var editor = new Quill('#editor-container', {
        theme: 'snow',
        modules: {
            toolbar: '#toolbar-container'
        },
        bounds: document.body,
    });

    var BackgroundStyle = Quill.import('attributors/style/background');
    Quill.register(BackgroundStyle, true);

    var ColorStyle = Quill.import('attributors/style/color');
    Quill.register(ColorStyle, true);

    var SizeStyle = Quill.import('attributors/style/size');
    Quill.register(SizeStyle, true);

    var FontStyle = Quill.import('attributors/style/font');
    Quill.register(FontStyle, true);

    var AlignStyle = Quill.import('attributors/style/align');
    Quill.register(AlignStyle, true);

    const Parchment = Quill.import("parchment")
    const pixelLevels = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

    const TAB_MULTIPLIER = 30;

    class IndentAttributor extends Parchment.Attributor.Style {
        add(node, value) {
            return super.add(node, `${+value * TAB_MULTIPLIER}px`)
        }

        value(node) {
            return parseFloat(super.value(node)) / TAB_MULTIPLIER || undefined // Don't return NaN
        }
    }

    const IndentStyle = new IndentAttributor("indent", "margin-left", {
        scope: Parchment.Scope.BLOCK,
        whitelist: pixelLevels.map(value => `${value * TAB_MULTIPLIER}px`),
    });

    Quill.register({ "formats/indent": IndentStyle }, true);

    editor.on('text-change', function() {
        $('#{{ form.htmlMessage.vars.id }}').val(
            editor.root.innerHTML,
        );
        refreshPreview();
    });

</script>
