{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {{ 'new_communication.title'|trans }}
        <br/>
        <div class="h3">{{ 'new_communication.subtitle'|trans({'%label%': campaign.label|lower}) }}</div>
    </h1>

    <div id="form-container">

        {{ form_start(form, {attr: {'action': path('communication_new', {id: campaign.id})}}) }}
        {{ include('new_communication/form.html.twig') }}
        {{ form_end(form) }}

        <a href="{{ path('communication_index', {id: campaign.id}) }}" class="btn btn-light">
            {{ 'form.communication.fields.back'|trans }}
        </a>

        <br/><br/>

    </div>

    <div id="spinner-container" class="d-none">
        <div class="jumbotron text-center">
            <div class="h2">{{ 'base.wait'|trans }}</div>
            <img src="{{ asset('spinner.gif') }}" />
        </div>
    </div>

{% endblock %}
