{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {{ ('new_communication.title_' ~ type)|trans }}
        <br/>
        <div class="h3">{{ 'new_communication.subtitle'|trans({'%label%': campaign.label|lower}) }}</div>
    </h1>

    <div id="form-container">

        {{ form_start(form, {attr: {'action': path('communication_new', {id: campaign.id, type: type})}}) }}
        {{ include(type.formView) }}
        {{ form_end(form) }}

        <a href="{{ path('communication_index', {id: campaign.id, key: key}) }}" class="btn btn-light">
            {{ 'form.communication.fields.back'|trans }}
        </a>

        <br/><br/>

    </div>

    <div id="spinner-container" class="d-none">
        <div class="jumbotron text-center">
            <div class="h2">{{ 'base.wait'|trans }}</div>
            <img src="{{ asset('spinner.gif') }}"/>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            $('.trigger-launch').click(function () {
                {# It's a click on "Send to XX volunteers" button #}
                $('#form-container').addClass('d-none');
                $('#spinner-container').removeClass('d-none');
            });
        });

    </script>

{% endblock %}
