{% extends '@Api/base.html.twig' %}

{% block body %}
    {% import '@Api/macros.html.twig' as macros %}

    <div class="text-left">
        <div class="h3">Token "{{ token.name }}"</div>

        <table class="table bg-white">
            <tr>
                <td><strong>Token</strong></td>
                <td>{{ token.token }}</td>
            </tr>
            <tr>
                <td><strong>Secret</strong></td>
                <td>
                    <div id="secret-container">
                        {% for i in 0..64 %}*{% endfor %}
                        <div class="float-right">
                            <a href="#" id="show-secret" class="btn btn-sm btn-primary">Show</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div>
            <hr/>
            <h2>Authentication</h2>
            <hr/>

            <p>In order to authenticate, use the following headers:</p>
            <div class="bg-white" style="padding-left:20px;">
                <br/>
                <code>
                    Authorization: Bearer {{ token }}<br/>
                    X-Signature: &lt;Request Signature&gt;
                </code>
                <br/><br/>
            </div>

            <p>&nbsp;</p>
            <p>The <code>Request Signature</code> is a keyed hash of the request with your token secret.</p>
            <p>
                It is an hexadecimal <code>SHA256 HMAC</code> of the concatenation without separators of the
                method, the full uri of the requested endoint (including query string) and the body of the API
                request.
            </p>
            <p>&nbsp;</p>

            {{ include('@Api/documentation/demo.html.twig', {token: token, endpoint: demo}) }}

            <p>&nbsp;</p>
            <p>
                {% set method = demo.methods[0] %}
                {% set uri = demo.uri ~ '?' ~ demo.requestFacade.example|http_build_query %}

                In the above example,
                <code>HMAC(SHA256, {{ method }}{{ uri }}, secret)</code>
            </p>
            <p>= <code>{{ token.sign(method, uri) }}</code></p>
        </div>

        <hr/>
        <h2>Endpoints</h2>
        <hr/>

        {% for category in category_collection.categories %}
            <div class="h4">{{ category.name }}</div>
            {% for endpoint in category.endpoints.endpoints %}
                <div style="margin-left:15px;">
                    <a href="{{ path('developer_token_endpoint', {
                        token: token,
                        categoryId: category.id,
                        endpointId: endpoint.id,
                    }) }}">{{ endpoint.title }}</a>
                </div>
            {% endfor %}
        {% endfor %}

        {{ include('@Api/documentation/category_collection.html.twig', {token: token, category_collection: category_collection}) }}

        <br/><br/><br/>

        <div class="text-center">
            <a href="{{ path('developer_token_index') }}" class="btn btn-secondary">Back</a>
        </div>

    </div>

{% endblock %}

 {% block javascripts %}

     {{ parent() }}

     <script type="text/javascript">

         $('#show-secret').click(function (e) {
             e.preventDefault();
             $.get('{{ path('developer_token_show_secret', {token: token}) }}', function (data) {
                 $('#secret-container').html(data.secret);
             });
         });

     </script>

 {% endblock %}