{% extends '@Api/base.html.twig' %}

{% block body %}

    <div class="text-left">
        <h3>Your API tokens</h3>
    </div>

    {% if tokens|length %}
        <div class="bg-white text-left">

            <table class="table table-striped">
                {% for token in tokens %}

                    <tr>
                        <td>
                            {{ token.name }}
                        </td>
                        <td>
                            <div class="text-sm-left">
                                <p>
                                    {{ token.usageCount }} hits
                                </p>
                                <p>
                                    Last used: {{ token.lastUsedAt ? token.lastUsedAt|date('d/m/Y H:i') : 'Never' }}
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="text-right">
                                <a href="{{ path('developer_token_documentation', {token: token}) }}" class="btn btn-primary">Documentation</a>
                                &nbsp;&nbsp;
                                <a href="{{ path('developer_token_remove', {token: token, csrf: csrf_token('api')}) }}" onclick="return confirm('Really remove that token?');" class="btn btn-danger">Delete</a>
                            </div>
                        </td>

                    </tr>

                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div class="text-left">
        {{ form(form) }}
    </div>

    <p class="text-left font-italic">
        The primary mean of the APIs is to provide a way for every platform to synchronize
        their own data sources (mainly database of volunteers and structures) with RedCall.
    </p>

{% endblock %}