{% extends 'base.html.twig' %}

{% block body %}

    <div class="rc-section rc-section-center text-center">

        <a class="text-lg-center large-button btn btn-secondary"
           href="{{ path('admin_stats_general') }}">{{ 'admin.statistics.buttons.general'| trans }}</a>

        <div class="mb-2"></div>

        <a href="{{ path('admin_stats_structure') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'admin.statistics.buttons.structure'|trans }}</a>

        <div class="mt-4"></div>

        <div class="rc-back-link">
            <a href="{{ path('admin_home') }}"
               class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
        </div>

    </div>

{% endblock %}