{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {% if isCreate %}
            {{ 'manage_volunteers.form.create'|trans }}
        {% else %}
            {{ 'manage_volunteers.form.update'|trans }}
        {% endif %}
    </h1>

    <div id="form-container">
        {% set has_gdpr = (not volunteer.user or not volunteer.user.trusted) and delete %}

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-general-tab"
                   data-toggle="tab"
                   href="#nav-general" role="tab"
                   aria-controls="nav-general" aria-selected="true">{{ 'manage_volunteers.tabs.general'|trans }}</a>
                <a class="nav-item nav-link" id="nav-contact-tab"
                   data-toggle="tab"
                   href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">{{ 'manage_volunteers.tabs.contact'|trans }}</a>
                <a class="nav-item nav-link" id="nav-structures-tab"
                   data-toggle="tab"
                   href="#nav-structures" role="tab"
                   aria-controls="nav-structures" aria-selected="false">{{ 'manage_volunteers.tabs.structures'|trans }}</a>
                <a class="nav-item nav-link" id="nav-badges-tab"
                   data-toggle="tab"
                   href="#nav-badges" role="tab"
                   aria-controls="nav-badges" aria-selected="false">{{ 'manage_volunteers.tabs.badges'|trans }}</a>
                {% if messages %}
                    <a class="nav-item nav-link" id="nav-messages-tab"
                       data-toggle="tab"
                       href="#nav-messages" role="tab"
                       aria-controls="nav-messages" aria-selected="false">{{ 'manage_volunteers.tabs.messages'|trans }}</a>
                {% endif %}
            </div>
        </nav>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="tab-content" id="nav-content">

            {# General #}
            <div class="tab-pane mt-3 ml-3 active"
                 id="nav-general"
                 role="tabpanel" aria-labelledby="nav-general-tab">
                <h3>{{ 'manage_volunteers.form.section_general'|trans }}</h3>
                {{ form_row(form.externalId) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.minor) }}
                {{ form_row(form.optoutUntil) }}
            </div>

            {# Contact info #}
            <div class="tab-pane mt-3 ml-3"
                 id="nav-contact"
                 role="tabpanel" aria-labelledby="nav-contact-tab">
                <h3>{{ 'manage_volunteers.form.section_contact'|trans }}</h3>
                {{ form_row(form.phones) }}
                {{ form_row(form.phoneNumberOptin) }}
                {{ form_row(form.phoneNumberLocked) }}
                {{ form_row(form.onlyOutboundSms) }}
                {{ form_row(form.supportsShortCode) }}
                <hr/>
                {{ form_row(form.email) }}
                {{ form_row(form.emailOptin) }}
                {{ form_row(form.emailLocked) }}
                <hr/>
                <div>
                    {{ 'manage_volunteers.form.lock_info'|trans }}
                </div>
            </div>

            {# Structures #}
            <div class="tab-pane mt-3 ml-3"
                 id="nav-structures"
                 role="tabpanel" aria-labelledby="nav-structures-tab">
                {% if form.structures|default(false) %}
                    <h3>{{ 'manage_volunteers.form.section_structures'|trans }}</h3>
                    {{ form_row(form.structures) }}
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if isCreate %}
                            <p>{{ 'manage_volunteers.admin_structures.create'|trans }}</p>
                        {% else %}
                            <div class="jumbotron shadow p-3 mb-5 rounded">
                                <h3>{{ 'manage_volunteers.admin_structures.structures'|trans({'%name%': volunteer.displayName}) }}</h3>

                                <br/>

                                {% for structure in volunteer.structures %}
                                    {{ structure.displayName }}<br/>
                                {% endfor %}

                                <div class="text-center">
                                    <a href="{{ path('management_volunteers_edit_structures', {id: volunteer.id}) }}" class="btn btn-secondary">
                                        {{ 'manage_volunteers.admin_structures.edit'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            {# Badges #}
            <div class="tab-pane mt-3 ml-3"
                 id="nav-badges"
                 role="tabpanel" aria-labelledby="nav-badges-tab">
                <h3>{{ 'manage_volunteers.form.section_badges'|trans }}</h3>
                {{ form_row(form.badges) }}
            </div>

            {# Messages #}
            {% if messages %}
                <div class="tab-pane"
                     id="nav-messages"
                     role="tabpanel" aria-labelledby="nav-messages-tab">
                    <div class="mt-3 ml-3 text-left">
                        <h3>{{ 'manage_volunteers.form.section_messages'|trans }}</h3>

                        <table class="table table-striped">
                            <tbody>
                            {% for message in messages %}
                                <tr>
                                    <td>
                                        {{ macros.communicationIcon(message.communication) }}
                                        {{ 'space.home.triggers.subject'|trans({
                                            '%type%': '<strong>' ~ ('space.home.triggers.' ~ message.communication.type)|trans ~ '</strong>',
                                            '%date%': message.communication.createdAt|date('d/m/Y'),
                                            '%time%': message.communication.createdAt|date('H:i')
                                        })|raw }}
                                        <br/>
                                        <em style="font-size:10px;">{{ message.communication.limitedBody|striptags }}</em>
                                    </td>
                                    <td>
                                        <a href="{{ path('communication_index', {id: message.communication.campaign.id}) }}" target="_blank" class="btn btn-primary">
                                            {{ 'base.button.open'|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {{ form_row(form.submit) }}
            {{ form_end(form) }}

            {% if has_gdpr %}
                <div class="text-right">
                    <strong>{{ 'manage_volunteers.anonymize.gdpr'|trans }}</strong>:
                    {{ 'manage_volunteers.anonymize.volunteer_asked_for_it'|trans }}
                    {{ form(delete) }}
                </div>
            {% endif %}

        </div>

        <br/>


    </div>

    <br/>

    <div class="text-center">
        <a href="{{ path('management_volunteers_list', app.request.query.all) }}" class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

    <br/><br/>

{% endblock %}