{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {% if isCreate %}
            {{ 'manage_volunteers.form.create'|trans }}
        {% else %}
            {{ 'manage_volunteers.form.update'|trans }}
        {% endif %}
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        {% if isCreate %}
            <p>{{ 'manage_volunteers.admin_structures.create'|trans }}</p>
        {% else %}
            <div class="jumbotron">
                <h3>{{ 'manage_volunteers.admin_structures.structures'|trans({'%name%': volunteer.displayName}) }}</h3>

                <br/>

                {% for structure in volunteer.structures %}
                    {% if structure.identifier %}
                        {{ structure.displayName }}<br/>
                    {% endif %}
                {% endfor %}

                <div class="text-center">
                    <a href="{{ path('management_volunteers_edit_structures', {id: volunteer.id}) }}" class="btn btn-secondary">
                        {{ 'manage_volunteers.admin_structures.edit'|trans }}
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <br/>

    {{ form_start(form) }}
    {{ form_row(form.nivol) }}
    {% if form.structures|default(false) %}
        {{ form_row(form.structures) }}
    {% endif %}
    {{ form_end(form) }}

    <br/>

    <div class="text-center">
        <a href="{{ path('management_volunteers_list', app.request.query.all) }}" class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

    <br/><br/>

{% endblock %}