{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {% if structure %}
            {{ 'manage_volunteers.title_with_structure'|trans({'%name%': structure.name}) }}
        {% else %}
            {{ 'manage_volunteers.title'|trans }}
        {% endif %}
    </h1>

    <div class="text-right">
        <a href="{{ path('management_volunteers_create') }}" class="btn btn-secondary">
            {{ 'manage_volunteers.form.add'|trans }}
        </a>
    </div>

    {{ form(search) }}

    <div class="row">
        {% for volunteer in volunteers %}
            <div class="col-md-6" id="volunteer-{{ volunteer.id }}" style="padding:5px;">
                {{ include('management/volunteers/volunteer.html.twig', {volunteer: volunteer}) }}
            </div>
        {% endfor %}
    </div>

    {{ macros.pager(volunteers, '', app.request.query.all) }}

    <div>{{ 'lock.explanation'|trans }}</div>
    <br/>

    <div class="text-center">
        {% if structure %}
            <a href="{{ path('management_structures_list') }}" class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
        {% else %}
            <a href="{{ path('management_home') }}" class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
        {% endif %}
    </div>

    <br/><br/>

    <div class="modal fade" id="user-structures-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="user-structures-modal-title" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="user-structures-modal-body" class="modal-body text-center"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'base.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $('body').on('click', '.toggle-action', function (e) {
            e.preventDefault();
            var that = $(this);

            if (!that.data('confirm') || confirm(that.data('confirm'))) {
                $.post(that.data('href'), function (data) {
                    $('#volunteer-' + that.data('id')).html(data);
                });
            }
        });

        $('body').on('click', '.show-structure-users', function (e) {
            e.preventDefault();
            $('#user-structures-modal-title').html('');
            $('#user-structures-modal-body').html('<img src="{{ asset('spinner.gif') }}"/>');
            $('#user-structures-modal').modal();
            $.post('{{ path('management_volunteers_list_user_structures') }}', {
                id: $(this).data('volunteer-id'),
            }, function (data) {
                $('#user-structures-modal-title').html(data.title);
                $('#user-structures-modal-body').html(data.body);
            });
        });

    </script>

{% endblock %}