{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <div class="col-md-12 jumbotron">

        <h3>{{ 'manage_volunteers.admin_structures.structures'|trans({'%name%': volunteer.displayName}) }}</h3>

        <table class="table">
            <tbody>
            {% for structure in volunteer.structures %}
                <tr>
                    <td>{{ structure.displayName }}</td>
                    <td>
                        <a href="{{ path('management_volunteers_delete_structure', {volunteerId: volunteer.id, structureId: structure.id, csrf: csrf_token('volunteer')} ) }}" class="btn btn-danger">
                            {{ 'base.button.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="structure-to-add">
            {{ render(controller('\\App\\Controller\\WidgetController::structureEditor')) }}
        </div>

        <br/>

        <a href="{{ path('management_volunteers_manual_update', {id: volunteer.id}) }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

    <script type="text/javascript">
        $('#structure-to-add input').change(function () {
            document.location = '{{ path('management_volunteers_add_structure', {id: volunteer.id, csrf: csrf_token('volunteer')})|e('js') }}?structure=' + $(this).val();
        });
    </script>

{% endblock %}
