{% import 'macros.html.twig' as macros %}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            {% if volunteer.enabled %}
                <strong>{{ volunteer.displayName }}</strong>
            {% else %}
                <span style="color:grey;">{{ volunteer.displayName }}</span> 🚫
            {% endif %}
            {% if volunteer.minor %}
                🐻
            {% elseif volunteer.userEnabled %}
                <img src="{{ asset('minutis.png') }}"/>
            {% else %}
                👤
            {% endif %}

            <div class="float-right">
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'manage_volunteers.action.title'|trans }}
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">

                        {% if volunteer.userEnabled %}
                            <a class="show-structure-users dropdown-item" href="#" data-volunteer-id="{{ volunteer.id }}">
                                {{ 'manage_volunteers.can_trigger_button'|trans({'%name%': volunteer.displayName}) }}
                            </a>

                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if constant('\\App\\Enum\\Platform::FR') == app.user.platform %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('management_volunteers_pegass', app.request.query.all|merge({id: volunteer.id})) }}" target="_blank">
                                    {{ 'manage_volunteers.action.view_pegass_entry'|trans }}
                                </a>
                            {% endif %}

                            {% if not volunteer.locked and volunteer.canForcePegassUpdate %}
                                <a class="dropdown-item" href="{{ path('management_volunteers_pegass_update', app.request.query.all|merge({id: volunteer.id, csrf: csrf_token('volunteers')})) }}" onclick="$(this).addClass('disabled');">
                                    {{ 'manage_volunteers.action.update_pegass'|trans }}
                                </a>
                            {% endif %}

                        {% endif %}

                        <a class="dropdown-item" href="{{ path('management_volunteers_manual_update', app.request.query.all|merge({id: volunteer.id})) }}">
                            {{ 'manage_volunteers.action.update_manual'|trans }}
                        </a>

                        {% if app.user.root %}

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-header">{{ 'admin.resources.change_platform_title'|trans }}</div>
                            {% for platform in platforms %}
                                <a class="dropdown-item {% if platform == volunteer.platform %}disabled{% else %}text-primary{% endif %}" href="{{ path('management_volunteers_update_platform', {id: volunteer.id, csrf: csrf_token('csrf'), platform: platform}) }}" {% if platform == volunteer.platform %}onclick="return false;"{% endif %}>
                                    {{ 'admin.resources.change_platform'|trans({'%platform%': platform.flag ~ ' ' ~ platform.label}) }}
                                </a>
                            {% endfor %}

                        {% endif %}

                        {% if not volunteer.user %}
                            <div class="dropdown-divider"></div>

                            {% if volunteer.enabled %}
                                <a href="#"
                                   class="dropdown-item text-danger toggle-action"
                                   data-href="{{ path('management_volunteers_toggle_enable', app.request.query.all|merge({id: volunteer.id, token: csrf_token('token')})) }}"
                                   data-id="{{ volunteer.id }}"
                                   data-confirm="{{ 'manage_volunteers.action.disable_confirm'|trans }}">
                                    {{ 'manage_volunteers.action.disable_volunteer'|trans }}
                                </a>
                            {% else %}
                                <a href="#"
                                   class="dropdown-item text-success toggle-action"
                                   data-href="{{ path('management_volunteers_toggle_enable', app.request.query.all|merge({id: volunteer.id, token: csrf_token('token')})) }}"
                                   data-id="{{ volunteer.id }}">
                                    {{ 'manage_volunteers.action.enable_volunteer'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body row">
        <div class="col-md-6">
            {% if volunteer.structures.count %}
                {% for structure in volunteer.structures %}
                    <div>{{ structure.displayName }}</div>
                {% endfor %}
            {% endif %}
            {{ macros.volunteerBadges(volunteer) }}
        </div>
        <div class="col-md-6">
            {% if volunteer.email %}
                {% if not volunteer.emailOptin %}<strike>{% endif %}
                <a href="mailto:{{ volunteer.email }}?subject={{ 'manage_volunteers.contact.mail_subject'|trans }}">{{ volunteer.email }}</a>
                {% if not volunteer.emailOptin %}</strike>{% endif %}
                <br/>
            {% endif %}

            {% if volunteer.phoneNumber %}
                {% if not volunteer.phoneNumberOptin %}<strike>{% endif %}
                {{ macros.phone(volunteer.phone) }}
                {% if not volunteer.phoneNumberOptin %}</strike>{% endif %}
                <br/>
            {% endif %}
        </div>
        {% if volunteer.report %}
            <div class="col-md-12">
                <hr/>
                {% for report in volunteer.report %}
                    <code>{{ report|trans }}</code>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="card-footer">
        {% if volunteer.locked %}
            <a href="#"
               class="toggle-action"
               style="text-decoration: none;"
               data-id="{{ volunteer.id }}"
               data-href="{{ path('management_volunteers_toggle_lock', {id: volunteer.id, token: csrf_token('token')}) }}" title="{{ 'manage_volunteers.action.unlock'|trans }}">
                🔒
                <span style="color:grey;">{{ 'lock.locked'|trans }}</span>
            </a>
        {% else %}
            <a href="#"
               class="toggle-action"
               style="text-decoration: none;"
               data-id="{{ volunteer.id }}"
               data-href="{{ path('management_volunteers_toggle_lock', {id: volunteer.id, token: csrf_token('token')}) }}" title="{{ 'manage_volunteers.action.lock'|trans }}">🔓</a>
        {% endif %}

        <div class="float-right">
            <span style="color:lightgray;">ID: {{ volunteer.externalId }}</span>
        </div>
    </div>
</div>
