{% import 'macros.html.twig' as macros %}

{# -------------------------------------------------------------------------------- #}
{# Message body (short and full versions)                                             #}
{# -------------------------------------------------------------------------------- #}
<div id="limited-body-{{ communication.id }}" class="email-body">
    <strong>{{ communication.limitedBody|striptags }}</strong>
    {% if communication.canExpandBody %}
        <a href="#" class="sd-body-toggle show-complete-body" data-communication-id="{{ communication.id }}">&#x25BC; Show more</a>
    {% endif %}
    {% if communication.user or is_granted('ROLE_ADMIN') %}
        <div class="sd-comm-body-meta" {% if communication.user %}title="{{ communication.user.externalId }}"{% endif %}>
            {{ macros.communicationBy(communication) }}

            {% if communication.user and is_granted('ROLE_ADMIN') %}
                <span>/</span>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('communication_relaunch', {communication: communication.id, campaign: campaign.id}) }}" onclick="return confirm('{{ 'campaign_status.relaunch_communication_confirm'| trans }}');">
                    {{ 'campaign_status.relaunch_communication'| trans }}
                </a>
            {% endif %}

            {% if campaign.active and campaign.code %}
                <span class="ml-2">
                    <a href="{{ path('synthesis_index', {code: campaign.code}) }}" target="_blank" class="btn btn-sm btn-outline-info">{{ 'synthesis.button'|trans }}</a>
                </span>
            {% endif %}
        </div>
    {% endif %}
</div>
<div id="complete-body-{{ communication.id }}" class="d-none email-body">
    {% if communication.subject %}
        <br/>
        <h4 class="text-center">{{ communication.subject }}</h4>
    {% endif %}
    {% if communication.type in [constant('App\\Entity\\Communication::TYPE_EMAIL')] %}
        {{ communication|format_email }}
    {% else %}
        {{ communication.body|nl2br }}
    {% endif %}
    <a href="#" class="sd-body-toggle show-limited-body" data-communication-id="{{ communication.id }}">&#x25B2; Show less</a>
</div>
