{% import 'macros.html.twig' as macros %}

{# -------------------------------------------------------------------------------- #}
{# Communication header                                                              #}
{# -------------------------------------------------------------------------------- #}
<div class="sd-comm-header">
    <span class="sd-type-emoji">{{ macros.communicationIcon(communication) }}</span>
    <h3 class="sd-comm-title" onclick="$('#change-communication-label-{{ communication.id }}').modal();">
        {% if communication.label %}
            {{ communication.label }}
        {% else %}
            {{ 'campaign_status.communication_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}
        {% endif %}
    </h3>
    <span class="sd-comm-meta">#{{ communication.id }}</span>
    {% if campaign.active %}
        <span class="sd-edit-btn" onclick="$('#change-communication-label-{{ communication.id }}').modal();" role="button" title="{{ 'base.form.change'|trans }}">
            &#9998;
        </span>
    {% endif %}
</div>
{% if communication.label %}
    <div class="sd-comm-meta mb-2">{{ 'campaign_status.communication_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}</div>
{% endif %}
