{% import 'macros.html.twig' as macros %}

{# -------------------------------------------------------------------------------- #}
{# Communication title #}
{# -------------------------------------------------------------------------------- #}
<h3 onclick="$('#change-communication-label-{{ communication.id }}').modal();" style="cursor:pointer;">
    {{ macros.communicationIcon(communication) }}
    {% if communication.label %}
        {{ communication.label }}
    {% else %}
        {{ 'campaign_status.communication_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}
    {% endif %}
    <span class="color-grey" style="font-size: 14px;">(#{{ communication.id }})</span>
    {% if campaign.active %}
        <span class="float-right badge badge-light">✏️</span>
    {% endif %}
</h3>
{% if communication.label %}
    <p>{{ 'campaign_status.communication_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}</p>
{% endif %}
<div class="clearfix"></div>
