{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.connect.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <br/>

    <div class="row">

        <div class="col-md-12 jumbotron shadow p-3 mb-5 rounded">

            <div class="text-center">
                <img style="max-height:60px;" src="{{ asset('build/images/redcall-full.png') }}"/>
            </div>

            <br/><br/><br/>

            <div id="main">
                <p>
                    Vous avez l'habitude vous connecter via Minutis ? Utilisez
                    <a href="#" onclick="$('.auth-mean').addClass('d-none'); $('#nivol').removeClass('d-none'); return false;">
                        l'authentification par NIVOL</a>.
                </p>
                <br/><br/>
                <p>
                    Vous êtes un employé et souhaitez utiliser l'annuaire national ? Utilisez
                    <a href="#" onclick="$('.auth-mean').addClass('d-none'); $('#google-login').removeClass('d-none'); return false;">
                        l'authentification par Google Workplace</a>.
                </p>
                <br/><br/>
                <p>
                    Vous avez créé un compte par email / mot de passe ? Utilisez
                    <a href="#classic-login" onclick="$('.auth-mean').addClass('d-none'); $('#classic-login').removeClass('d-none'); return false;">
                        le formulaire de login
                    </a> classique.
                </p>
            </div>
            <br/><br/>

            <hr/>

            <div class="auth-mean">
                Faites un choix parmi la liste de méthodes d'authentification ci-dessus.
            </div>

            <div id="nivol" class="auth-mean d-none">
                {{ form(nivol) }}
            </div>

            <div id="google-login" class="auth-mean d-none">

                <br/><br/><br/>

                <div class="text-center">
                    <p style="font-size: 32px;">{{ 'google.connect_with'|trans }}</p>
                    <img src="{{ asset('google.png') }}" height="50"/>
                    <p>
                        <br/>
                        <a class="btn btn-primary" href="{{ path('google_connect') }}">{{ 'google.connect'|trans }}</a>
                    </p>
                </div>

            </div>

            <div id="classic-login" class="auth-mean d-none">
                <h3>{{ block('title') }}</h3>

                {% form_theme connect '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
                {{ form(connect) }}

                <div class="text-right">
                    <a href="#" onclick="$('#google-login').removeClass('d-none'); $('#classic-login').addClass('d-none'); return false;">
                        {{ 'google.connect_with_google'|trans }}
                    </a>
                    <br/>
                    <a href="{{ path('password_login_forgot_password') }}">
                        {{ 'password_login.connect.forgot_password'|trans }}</a>
                    <br/>
                    <a href="{{ path('password_login_register') }}">
                        {{ 'password_login.connect.no_account_yet'|trans }}
                    </a>
                </div>
            </div>

        </div>

    </div>

    {{ block('locales') }}

{% endblock %}

