{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.connect.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="auth-wrapper">
        <div class="auth-card">
            <div class="auth-logo">
                <img src="{{ asset('build/images/redcall-full.png') }}" alt="RedCall Logo"/>
            </div>

            {# Selection #}
            <div id="auth-selector" class="{% if nivol_auto_open|default(false) %}d-none{% endif %}">
                <h1 class="text-center">{{ 'password_login.connect.title'|trans }}</h1>

                <div class="auth-actions">
                    <button class="btn btn-primary btn-lg mb-3 btn-block" onclick="$('#auth-selector').addClass('d-none'); $('#nivol').removeClass('d-none');">
                        {{ 'nivol_auth.connect_minutis.s02'|trans }}
                    </button>

                    <a class="btn btn-google btn-lg mb-3 btn-block" href="{{ path('google_connect') }}">
                        <img src="{{ asset('google.png') }}" height="20" alt="Google"/>
                        {{ 'google.connect'|trans }}
                    </a>

                    <button class="btn btn-secondary btn-block" onclick="$('#auth-selector').addClass('d-none'); $('#classic-login').removeClass('d-none');">
                        {{ 'nivol_auth.connect_classic.s02'|trans }}
                    </button>
                </div>

                <div class="auth-links">
                    <p class="small text-muted mb-0">
                        {{ 'nivol_auth.connect_choice'|trans }}
                    </p>
                </div>
            </div>

            {# NIVOL Auth #}
            <div id="nivol" class="{% if not nivol_auto_open|default(false) %}d-none{% endif %}">
                <h1 class="text-center">{{ 'nivol_auth.connect_minutis.s02'|trans }}</h1>

                <p class="text-center small text-muted mb-4">{{ 'nivol_auth.connect_minutis.s01'|trans }}</p>

                {% form_theme nivol '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
                {{ form_start(nivol) }}
                {{ form_row(nivol.nivol) }}
                {% if nivol.recaptcha is defined %}
                    {{ form_row(nivol.recaptcha) }}
                {% endif %}
                <div class="auth-actions">
                    <button type="submit" class="btn btn-primary btn-block">
                        {{ 'nivol_auth.input_submit'|trans|default('Connect'|trans) }}
                    </button>
                    <button type="button" class="btn btn-link btn-block text-muted" onclick="$('#nivol').addClass('d-none'); $('#auth-selector').removeClass('d-none');">
                        {{ 'base.button.back'|trans }}
                    </button>
                </div>
                {{ form_end(nivol, {render_rest: false}) }}
            </div>

            {# Classic Login #}
            <div id="classic-login" class="d-none">
                <h1 class="text-center">{{ 'password_login.connect.title'|trans }}</h1>

                {% form_theme connect '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
                {{ form_start(connect) }}
                {{ form_row(connect.username) }}
                {{ form_row(connect.password) }}
                {{ form_row(connect._remember_me) }}
                {% if connect.recaptcha is defined %}
                    {{ form_row(connect.recaptcha) }}
                {% endif %}

                <div class="auth-actions">
                    <button type="submit" class="btn btn-primary btn-block">
                        {{ 'password_login.connect.connect'|trans|default('Connect'|trans) }}
                    </button>
                </div>
                {{ form_end(connect, {render_rest: false}) }}

                <div class="auth-links">
                    <a href="{{ path('password_login_forgot_password') }}">{{ 'password_login.connect.forgot_password'|trans }}</a>
                    <br/>
                    <a href="{{ path('password_login_register') }}">{{ 'password_login.connect.no_account_yet'|trans }}</a>
                    <hr class="my-3"/>
                    <button type="button" class="btn btn-link btn-block text-muted small" onclick="$('#classic-login').addClass('d-none'); $('#auth-selector').removeClass('d-none');">
                        {{ 'base.button.back'|trans }}
                    </button>
                </div>
            </div>

            <div class="auth-locales text-center">
                {{ block('locales') }}
            </div>
        </div>
    </div>

{% endblock %}

