{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.connect.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <br/>

    <div class="row">

        <div class="col-md-12 jumbotron shadow p-3 mb-5 rounded">

            <div class="text-center">
                <img style="max-height:60px;" src="{{ asset('build/images/redcall-full.png') }}"/>
            </div>

            <h3>{{ block('title') }}</h3>

            {% form_theme connect '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
            {{ form(connect) }}

            <div class="text-right">
                <a href="{{ path('password_login_forgot_password') }}">
                    {{ 'password_login.connect.forgot_password'|trans }}</a>
                <br/>
                <a href="{{ path('password_login_register') }}">
                    {{ 'password_login.connect.no_account_yet'|trans }}
                </a>
            </div>

        </div>

    </div>

    {{ block('locales') }}

{% endblock %}

