{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.forgot_password.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="auth-wrapper">
        <div class="auth-card">
            <div class="auth-logo">
                <img src="{{ asset('build/images/redcall-full.png') }}" alt="RedCall Logo"/>
            </div>

            <h1 class="text-center">{{ 'password_login.forgot_password.title'|trans }}</h1>

            {% form_theme forgotPassword '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
            {{ form_start(forgotPassword) }}
            {{ form_row(forgotPassword.username) }}
            {% if forgotPassword.recaptcha is defined %}
                {{ form_row(forgotPassword.recaptcha) }}
            {% endif %}
            <div class="auth-actions">
                <button type="submit" class="btn btn-primary btn-block">
                    {{ 'password_login.forgot_password.submit'|trans|default('Reset Password'|trans) }}
                </button>
            </div>
            {{ form_end(forgotPassword) }}

            <div class="auth-links">
                <a href="{{ path('password_login_connect') }}">
                    {{ 'password_login.forgot_password.remember'|trans }}
                </a>
            </div>

            <div class="auth-locales text-center">
                {{ block('locales') }}
            </div>
        </div>
    </div>

{% endblock %}