{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.forgot_password.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <br/>

    <div class="row">

        <div class="col-md-12 jumbotron">

            <div class="text-center">
                <img style="max-height:100px;" src="{{ asset('build/images/redcall-full.png') }}" />
            </div>

            <h3>{{ block('title') }}</h3>

            {% form_theme forgotPassword '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
            {{ form(forgotPassword) }}

            <div class="text-right">
                <a href="{{ path('password_login_connect') }}">
                    {{ 'password_login.forgot_password.remember'|trans }}
                </a>
            </div>

        </div>

    </div>

    {{ block('locales') }}

{% endblock %}