{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.not_trusted.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <br/>

    <div class="clearfix"></div>

    <hr/>

    <div class="row">

        <div class="col-md-12 jumbotron">

            <h3>{{ block('title') }}</h3>

            {{ 'password_login.not_trusted.description'|trans }}

        </div>

    </div>

    {{ include('@PasswordLogin/menu.html.twig', {
        display_profile: false,
        display_manage_users: false,
    }) }}

    {{ block('locales') }}

{% endblock %}