{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.register.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="auth-wrapper">
        <div class="auth-card">
            <div class="auth-logo">
                <img src="{{ asset('build/images/redcall-full.png') }}" alt="RedCall Logo"/>
            </div>

            <h1 class="text-center">{{ 'password_login.register.title'|trans }}</h1>

            {% form_theme registration '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
            {{ form_start(registration) }}
                {{ form_row(registration.platform) }}
                {{ form_row(registration.username) }}
                {{ form_row(registration.password) }}
                {% if registration.recaptcha is defined %}
                    {{ form_row(registration.recaptcha) }}
                {% endif %}
                <div class="auth-actions">
                    <button type="submit" class="btn btn-primary btn-block">
                        {{ 'password_login.register.submit'|trans|default('Register'|trans) }}
                    </button>
                </div>
            {{ form_end(registration, {render_rest: false}) }}

            <div class="auth-links">
                {{ 'password_login.register.already_have_account'|trans }}
                <a href="{{ path('password_login_connect') }}">{{ 'password_login.register.please_connect'|trans }}</a>
            </div>

            <div class="auth-locales text-center">
                {{ block('locales') }}
            </div>
        </div>
    </div>

{% endblock %}