{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.register.title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <br/>

    <div class="row">

        <div class="col-md-12 jumbotron">

            <h3>{{ block('title') }}</h3>

            {% form_theme registration '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
            {{ form_start(registration) }}
            {{ form_row(registration.platform) }}
            {{ form_end(registration) }}

            <div class="text-center">
                {{ 'password_login.register.already_have_account'|trans }}
                <a href="{{ path('password_login_connect') }}">{{ 'password_login.register.please_connect'|trans }}</a>
            </div>

        </div>

    </div>

    {{ block('locales') }}

{% endblock %}