{% extends 'export/base.html.twig' %}

{% block content %}

    <table style="border: 1px solid {{ lightgrey }}" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" valign="top" width="10%">
                <img height="30" src="{{ website_url }}/{{ asset('build/images/corner_topleft.png')[1:] }}"/>
            </td>
            <td width="80%" height="90">
                <span style="font-size:25px;color:{{ red }};font-weight:bold;">
                    {{ campaign.structures.get(0).name }}
                    {% if campaign.structures.count > 1 %}
                        <span style="font-size:20px;font-weight:bold;color:{{ red }};">
                            {{ 'pdf_export.others'|trans({'%others%': campaign.structures.count - 1}) }}
                        </span>
                    {% endif %}
                </span>
            </td>
            <td align="right" valign="bottom" width="10%">
                <img height="30" src="{{ website_url }}/{{ asset('build/images/corner_bottomright.png')[1:] }}"/>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color:{{ lightgrey }};">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color:{{ red }};padding-top:5px;padding-bottom:5px;padding-left:50px;">
                <span style="font-size:12px;color:white;">
                    {{ 'message.email.announcement'|trans({
                        '%day%':'now'|date('d'),
                        '%month%':'now'|date('m'),
                        '%year%':'now'|date('Y'),
                        '%hours%':'now'|date('H'),
                        '%mins%':'now'|date('i'),
                    }) }}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height:70px;padding-left:45px;padding-right:60px;font-weight:bold;color:white;font-weight:bold;font-size:18px;background-color:{{ lightgrey }};">
                {{ communication.subject }}
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="padding-left:45px;padding-right:60px;color:black;font-size:14px;">{{ communication.body|nl2br }}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" align="center" style="color:{{ darkgrey }};font-size:14px;">
                {{ 'message.email.answer_here'|trans }}
                <br/><br/>
            </td>
        </tr>
        {% for choice in communication.choices %}
            <tr>
                <td colspan="3" align="center">
                    <a style="width: 80%; background-color: {{ red }}; border-color: {{ red }}; display: inline-block; font-weight: 400; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; font-size: 20px; text-decoration:none; color:white;"
                       href="{{ website_url }}/{{ path('message_action', {code: message.code, action: choice.code, signature: message.signature}) }}">
                        {{ choice.label }}
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}