{% extends 'message/base.html.twig' %}

{% block content %}

    {% block title %}
        {% if communication.label %}
            {{ communication.label }}
        {% else %}
            {{ 'campaign_status.communication_short_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}
        {% endif %}
    {% endblock %}

    <style>
        p {
            color: black;
        }
    </style>
    <div>{{ message.communication.body|purify }}</div>

    <hr/><br/>

    {% for choice in message.communication.choices %}

        {% if not message.answerByChoice(choice) %}

            {# Volunteer is able to answer #}

            <div class="h3 text-center">

                <a class="respond btn btn-primary"
                   style="width: 100%;white-space: normal;"
                   href="{{ path('message_action', {code: message.code, action: choice.code, signature: message.signature }) }}">
                    <span class="h4">{{ choice.label }}</span>
                </a>

            </div>

        {% else %}

            {# Volunteer already answered, he can cancel though #}

            <table style="width: 100%;">
                <tr>
                    <td style="width: 80%;" align="center" valign="middle" class="bg-danger">
                        <div class="text-white">
                            <span class="h4">{{ choice.label }}</span>
                            <br/>
                            <span class="font-italic">{{ message.answerByChoice(choice).receivedAt|date('d/m/Y H:i:s') }}</span>
                        </div>
                    </td>
                    <td style="width: 20%;" align="center" valign="middle">
                        <a class="respond btn btn-light"
                           style="width: 100%;"
                           href="{{ path('message_cancel', {code: message.code, action: choice.code, signature: message.signature }) }}">
                            <span class="h4">❌</span>
                        </a>
                    </td>
                </tr>
            </table>

        {% endif %}

        <br/>

    {% endfor %}

    <script type="text/javascript">

        $('.respond').click(function () {
            $('.respond').addClass('disabled');
        });

    </script>


{% endblock %}

