{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="rc-section">
        <h2>{{ 'campaign_status.optout.title'|trans }}</h2>

        <p>{{ 'campaign_status.optout.message'|trans }}</p>
        <p>{{ 'campaign_status.optout.comeback'|trans }}</p>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-6 text-center">
                {{ form_row(form.cancel) }}
            </div>
            <div class="col-6 text-center">
                {{ form_row(form.confirm) }}
            </div>
        </div>
        {{ form_end(form) }}


    </div>

{% endblock %}
