{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block body %}

    {# -------------------------------------------------------------------------------- #}
    {# Campaign label and color #}
    {# -------------------------------------------------------------------------------- #}
    <br/>
    <div class="row skip-line">
        <div class="col-12 h1" {% if campaign.active %}onclick="$('#change-campaign-label').modal();"{% endif %}>
            {% if not campaign.active %}
                <strike>{{ campaign.label }}</strike>
            {% else %}
                {{ campaign.label }}
            {% endif %}
            {% if not campaign.active %}
                <em>({{ 'campaign.statuses.finished'|trans|lower }})</em>
            {% else %}
                <span class="float-right badge badge-light">✏️</span>
            {% endif %}
        </div>
        <div class="col-12" {% if campaign.active %}onclick="$('#change-color').modal();"{% endif %}>
            {% set hexColor = constant('App\\Entity\\Campaign::COLORS')[campaign.type] %}
            <div id="current-color" class="w-100 text-center text-white badge" style="background-color:{{ hexColor }};">
                {{ ('campaign.types.' ~ campaign.type)|trans|title }}
                {% if campaign.active %}
                    <span>✏️</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">

        {# -------------------------------------------------------------------------------- #}
        {# Tabs to switch between campaign's communications #}
        {# -------------------------------------------------------------------------------- #}
        {% if campaign.communications|length > 1 %}

            <div class="col-12">
                <h5>{{ 'campaign_status.communication_tabs'|trans }}</h5>
                <ul class="nav nav-tabs" id="communications-menu" role="tablist">
                    {% for key, communication in campaign.communications %}
                        <li class="nav-item">
                            <a id="{{ communication.id }}-tab" data-toggle="tab" class="nav-link {{ key ?: 'active' }}"
                               href="#tab-{{ communication.id }}" role="tab" aria-controls="{{ communication.id }}">
                                {% if communication.label %}
                                    {{ communication.label }}
                                {% else %}
                                    {{ 'campaign_status.communication_short_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12"><br/></div>

        {% endif %}

        <div class="tab-content col-12" id="all-tabs">

            {% for key, communication in campaign.communications %}
                {% set answerCount = communication.choices|length %}

                <div class="tab-pane fade {{ key == 0 ? 'show active' : '' }}" id="tab-{{ communication.id }}"
                     role="tabpanel" aria-labelledby="{{ communication.id }}-tab">

                    {# -------------------------------------------------------------------------------- #}
                    {# Communication title #}
                    {# -------------------------------------------------------------------------------- #}
                    <h3 onclick="$('#change-communication-label-{{ communication.id }}').modal();">
                        {% if communication.label %}
                            {{ communication.label }}
                        {% else %}
                            {{ 'campaign_status.communication_title'|trans({'%date%': communication.createdAt|date('d/m/Y'), '%time%': communication.createdAt|date('H:i')}) }}
                        {% endif %}
                        {% if campaign.active %}
                            <span class="float-right badge badge-light">✏️</span>
                        {% endif %}
                    </h3>
                    <div class="clearfix"></div>

                    {# -------------------------------------------------------------------------------- #}
                    {# Progression #}
                    {# -------------------------------------------------------------------------------- #}
                    <div class="progress position-relative" style="background-color:darkgray;height:18px;">
                        <div id="progress-bar-{{ communication.id }}"
                             class="progress-bar {% if progress[communication.id].percent == 100 %}bg-success{% endif %}"
                             role="progressbar"
                             style="width: {{ progress[communication.id].percent }}%;"
                             aria-valuenow="{{ progress[communication.id].percent }}"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                        <span id="progress-text-{{ communication.id }}"
                              class="justify-content-center d-flex position-absolute w-100 text-white">
                            {% if progress[communication.id].percent == 100 %}
                                {{ 'campaign_status.finish'|trans({
                                    '%cost%': communication.cost
                                }) }}
                            {% else %}
                                {{ 'campaign_status.progress'|trans({
                                    '%sent%': progress[communication.id].sent,
                                    '%total%': progress[communication.id].total,
                                    '%progress%': progress[communication.id].percent,
                                    '%cost%': communication.cost
                                }) }}
                            {% endif %}
                        </span>
                        <div id="progress-trans-key-{{ communication.id }}"
                             class="d-none">{{ 'campaign_status.progress'|trans }}</div>
                    </div>

                    {% if not answerCount %}
                        <strong>{{ communication.body }}</strong>
                        <br/><br/>
                    {% endif %}

                    {% if answerCount %}

                        {# -------------------------------------------------------------------------------- #}
                        {# Table containing message and answers #}
                        {# -------------------------------------------------------------------------------- #}
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="{{ answerCount }}">
                                    <u>{{ 'campaign_status.message'|trans }}</u> {{ communication.body }}
                                </th>
                            </tr>
                            <tr>
                                {% for index, choice in communication.choicesAsString %}
                                    <th width="{{ (100/answerCount) }}%">
                                        {{ 'campaign_status.answer_no'|trans({'%choice%': (index+1)}) }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for choice in communication.choices %}
                                    <td>
                                        <div id="choice-{{ choice.id }}">
                                            <a href="#"
                                               class="filter-response"
                                               data-communication-id="{{ communication.id }}"
                                               data-target="filter-is-choice-{{ choice.id }}-{{ communication.id }}">
                                                {{ choice.label }}
                                            </a>
                                            <span id="choice-count-{{ choice.id }}">({{ choice.count }})</span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>

                    {% endif %}

                    {# -------------------------------------------------------------------------------- #}
                    {# Filter by responses or skills #}
                    {# -------------------------------------------------------------------------------- #}
                    <div class="skip-line text-small">
                        {{ 'campaign_status.filter.title'|trans }}
                        {% if answerCount %}
                            <a href="#"
                               onclick="$('#filter-response-{{ communication.id }}').modal(); return false;">{{ 'campaign_status.filter.by_response'|trans }}</a>
                            {{ 'campaign_status.filter.or'|trans }}
                        {% endif %}
                        <a href="#"
                           onclick="$('#filter-skill-{{ communication.id }}').modal(); return false;">{{ 'campaign_status.filter.by_skill'|trans }}</a>
                    </div>

                    {# -------------------------------------------------------------------------------- #}
                    {# Results #}
                    {# -------------------------------------------------------------------------------- #}
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="5%">
                                <label class="switch">
                                    <input class="select-all" data-communication-id="{{ communication.id }}"
                                           type="checkbox"/>
                                    <span class="slider"></span>
                                </label>
                            </th>
                            <th width="95%">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in communication.messages %}
                            {% set suffix = communication.id ~ '-' ~ message.id %}
                            <tr id="row-{{ suffix|e('html_attr') }}"
                                class="row-{{ communication.id }}"
                                data-volunteer-id="{{ message.volunteer.id }}">

                                {# Selection #}
                                <td id="message-selected-{{ suffix|e('html_attr') }}"
                                    data-communication-id="{{ communication.id }}">
                                    <label class="switch">
                                        <input id="select-{{ suffix }}"
                                               class="volunteer-selection volunteer-selection-{{ communication.id }}"
                                               data-communication-id="{{ communication.id }}"
                                               data-suffix="{{ suffix|e('html_attr') }}"
                                               type="checkbox"/>
                                        <span class="slider"></span>
                                    </label>
                                </td>

                                <td id="volunteer-{{ suffix }}">

                                    {# Volunteer's name #}
                                    <span id="volunteer-name-{{ suffix }}"
                                          class="h4 {% if not message.sent %}text-black-50{% endif %}"
                                          onclick="$('#select-{{ suffix }}').click();">
                                    {{ message.volunteer.firstname|default('?') ~ ' ' ~ message.volunteer.lastname|default('?') }}
                                    </span>

                                    <div class="float-right">

                                        {# Answer codes when volunteer answered them #}
                                        {% if answerCount %}
                                            {% for choice in communication.choices %}
                                                {% set answer = message.getAnswerByChoice(choice) %}
                                                <span class="{{ answer ? '' : 'd-none' }} badge badge-dark message-is-choice-{{ choice.id }}-{{ communication.id }}"
                                                      style="font-size:16px;"
                                                      data-value="{{ answer ? 1 : 0 }}"
                                                      id="message-is-choice-{{ choice.id }}-{{ suffix|e('html_attr') }}">
                                                    {{ choice.code }}{% if message.isUnclear %}<span style="color:red;">*</span>{% endif %}
                                                    <span style="font-size:10px;">
                                                        <br/>
                                                        <span id="message-is-choice-time-{{ choice.id }}-{{ suffix|e('html_attr') }}">
                                                            {% if answer %}
                                                                {{ answer.receivedAt|date('H:i') }}
                                                            {% endif %}
                                                        </span>
                                                    </span>
                                                </span>
                                            {% endfor %}
                                        {% endif %}

                                        {# Volunteer sent an invalid answer #}
                                        <span class="{{ message.invalidAnswer ? '' : 'd-none' }} badge badge-dark message-has-invalid-answer-{{ communication.id }}"
                                              style="font-size:16px;"
                                              data-value="{{ message.invalidAnswer ? 1 : 0 }}"
                                              id="message-has-invalid-answer-{{ suffix|e('html_attr') }}">
                                            ?{% if message.isUnclear %}<span style="color:red;">*</span>{% endif %}
                                            <span style="font-size:10px;">
                                                <br/>
                                                <span id="message-has-invalid-answer-time-{{ suffix|e('html_attr') }}">
                                                    {% if message.invalidAnswer %}
                                                        {{ message.invalidAnswer.receivedAt|date('H:i') }}
                                                    {% endif %}
                                                </span>
                                            </span>
                                        </span>

                                        {% if app.environment == 'dev' %}
                                            <a class="btn btn-default"
                                               href="{{ path('sandbox_fake_sms_thread', {phoneNumber: message.volunteer.phoneNumber}) }}">☎️</a>
                                        {% endif %}

                                        {% if answerCount and campaign.active %}
                                            <span id="open-message-{{ suffix }}"
                                                  data-message-id="{{ message.id }}"
                                                  class="badge badge-light open-message">✏️</span>
                                        {% endif %}
                                    </div>

                                    <br/>

                                    {# Volunteer's skills #}
                                    {% for skill in message.volunteer.tags %}
                                        <div class="d-none message-is-skill-{{ skill.id|e('html_attr') }}-{{ communication.id }}"
                                             data-value=1></div>
                                    {% endfor %}
                                    <span class="text-small" onclick="$('#select-{{ suffix }}').click();">
                                            {% for skill in message.volunteer.tagsView %}
                                                {{ ('tag.shortcuts.' ~ skill)|trans }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                    </span>

                                    {# Warnings #}
                                    {% if not message.volunteer.phoneNumber %}
                                        <div style="color:red;">{{ 'campaign_status.warning.no_phone'|trans }}</div>
                                    {% endif %}
                                    {% if not message.volunteer.email %}
                                        <div style="color:red;">{{ 'campaign_status.warning.no_email'|trans }}</div>
                                    {% endif %}

                                    <div id="invalid-answer-raw-{{ suffix }}" style="font-size:10px;">
                                        {% if message.invalidAnswer %}
                                            {% if message.invalidAnswer.raw|length > 45 %}
                                                {{ message.invalidAnswer.raw|slice(0, 45) }}...
                                            {% else %}
                                                {{ message.invalidAnswer.raw|slice(0, 45) }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix"></div>

                    {# -------------------------------------------------------------------------------- #}
                    {# Actions on selected rows #}
                    {# -------------------------------------------------------------------------------- #}
                    <div class="row" id="selection-{{ communication.id }}">

                        {# New message to selection #}
                        {% if campaign.active %}
                            <div class="col-md-3 col-12 skip-line">
                                <a href="#"
                                   class="btn btn-primary new-message-button"
                                   data-communication-id="{{ communication.id }}" role="button">
                                    {{ 'campaign_status.selection.new_message'|trans }}
                                </a>
                                <form id="selection-new-message-form-{{ communication.id }}"
                                      action="{{ path('communication_add', {campaignId: campaign.id}) }}"
                                      method="post" class="d-none">
                                    <input type="hidden" name="volunteers"
                                           id="selection-new-message-field-{{ communication.id }}" value=""/>
                                </form>
                            </div>
                        {% endif %}

                        {# Download CSV #}
                        <div class="col-md-3 col-12 skip-line">
                            <a href="#"
                               class="btn btn-primary download-csv-button"
                               data-communication-id="{{ communication.id }}" role="button">
                                {{ 'campaign_status.selection.download_csv'|trans }}
                            </a>
                            <form id="selection-download-csv-form-{{ communication.id }}"
                                  action="{{ path('export_csv', {communicationId: communication.id}) }}"
                                  method="post" class="d-none">
                                <input type="hidden" name="csrf" value="{{ csrf_token('communication') }}"/>
                                <input type="hidden" name="volunteers"
                                       id="selection-download-csv-field-{{ communication.id }}" value=""/>
                            </form>
                        </div>

                        {# Download portrait PDF #}
                        <div class="col-md-3 col-12 skip-line">
                            <a href="#"
                               class="btn btn-primary download-portrait-pdf-button"
                               data-communication-id="{{ communication.id }}" role="button">
                                {{ 'campaign_status.selection.download_portrait_pdf'|trans }}
                            </a>
                            <form id="selection-download-portrait-pdf-form-{{ communication.id }}"
                                  action="{{ path('export_portrait_pdf', {communicationId: communication.id}) }}"
                                  method="post" class="d-none">
                                <input type="hidden" name="csrf" value="{{ csrf_token('communication') }}"/>
                                <input type="hidden" name="volunteers"
                                       id="selection-download-portrait-pdf-field-{{ communication.id }}" value=""/>
                            </form>
                        </div>

                        {# Open / Close campaign #}
                        <div class="col-md-3 col-12 skip-line">
                            {% if campaign.active %}
                                <a href="{{ path('close_campaign', { campaignId: campaign.id, csrf: csrf_token('campaign') }) }}"
                                   class="btn btn-warning" role="button">
                                    {{ 'campaign.actions.close'|trans }}
                                </a>
                            {% else %}
                                <a href="{{ path('open_campaign', { campaignId: campaign.id, csrf: csrf_token('campaign') }) }}"
                                   class="btn btn-danger" role="button">
                                    {{ 'campaign.actions.open'|trans }}
                                </a>
                            {% endif %}

                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}

{% block modals %}

    {# -------------------------------------------------------------------------------- #}
    {# Change campaign label #}
    {# -------------------------------------------------------------------------------- #}
    {% if campaign.active %}
        {% set body %}
            <form id="rename-campaign" action="{{ path('rename_campaign', {campaignId: campaign.id}) }}" method="post">
                <input type="text" class="form-control" name="new_name" value="{{ campaign.label }}"/>
                <input type="hidden" name="csrf" value="{{ csrf_token('campaign') }}"/>
            </form>
        {% endset %}

        {% set buttons %}
            <button type="button" class="btn btn-primary"
                    onclick="$('#rename-campaign').submit();">{{ 'base.form.change'|trans }}</button>
        {% endset %}

        {{ macros.modal('change-campaign-label', 'modal.change_campaign_label'|trans, body, buttons) }}
    {% endif %}

    {# -------------------------------------------------------------------------------- #}
    {# Change campaign color #}
    {# -------------------------------------------------------------------------------- #}
    {% if campaign.active %}
        {% set body %}
            {% for color, hexColor in constant('App\\Entity\\Campaign::COLORS') %}
                <a href="{{ path('color_campaign', app.request.query.all|merge({campaignId: campaign.id, color: color, csrf: csrf_token('campaign')})) }}"
                   class="btn btn-primary text-white border-0 w-100"
                   style="background-color:{{ hexColor }};">
                    {{ ('campaign.types.' ~ color)|trans|title }}
                </a>

                <br/><br/>
            {% endfor %}
        {% endset %}

        {{ macros.modal('change-color', 'modal.change_color'|trans, body) }}
    {% endif %}

    {% for key, communication in campaign.communications %}
        {% set answerCount = communication.choices|length %}

        {# -------------------------------------------------------------------------------- #}
        {# Change communication label #}
        {# -------------------------------------------------------------------------------- #}
        {% if campaign.active %}
            {% set body %}
                <form id="rename-communication-{{ communication.id }}"
                      action="{{ path('communication_rename', {campaignId: campaign.id, communicationId: communication.id}) }}"
                      method="post">
                    <input type="text" class="form-control" name="new_name" value="{{ communication.label }}"/>
                    <input type="hidden" name="csrf" value="{{ csrf_token('communication') }}"/>
                </form>
            {% endset %}

            {% set buttons %}
                <button type="button" class="btn btn-primary"
                        onclick="$('#rename-communication-{{ communication.id }}').submit();">{{ 'base.form.change'|trans }}</button>
            {% endset %}

            {{ macros.modal('change-communication-label-' ~ communication.id, 'modal.change_campaign_label'|trans, body, buttons) }}
        {% endif %}


        {# -------------------------------------------------------------------------------- #}
        {# Filter volunteers by their response #}
        {# -------------------------------------------------------------------------------- #}
        {% set body %}

            {% for index, choice in communication.choices %}
                <div class="form-check">
                    <label class="switch">
                        <input type="checkbox"
                               data-toggle="toggle" data-onstyle="primary"
                               class="form-check-input filter-action filter-response-{{ communication.id }} filter-action-{{ communication.id }}"
                               id="filter-is-choice-{{ choice.id }}-{{ communication.id }}"/>
                        <span class="slider"></span>
                    </label>
                    <label class="form-check-label"
                           for="filter-is-choice-{{ choice.id }}-{{ communication.id }}">
                        {{ choice.label }}
                    </label>
                </div>
            {% endfor %}

            <div class="form-check">
                <label class="switch">
                    <input type="checkbox"
                           data-toggle="toggle" data-onstyle="primary"
                           class="form-check-input filter-action filter-action-{{ communication.id }}"
                           id="filter-has-invalid-answer-{{ communication.id }}"/>
                    <span class="slider"></span>
                </label>
                <label class="form-check-label"
                       for="filter-has-invalid-answer-{{ communication.id }}">
                    {{ 'campaign_status.table.other'|trans }}
                </label>
            </div>

        {% endset %}

        {{ macros.modal('filter-response-' ~ communication.id, 'campaign_status.filter.title'|trans ~ ' ' ~ 'campaign_status.filter.by_response'|trans, body) }}

        {# -------------------------------------------------------------------------------- #}
        {# Filter volunteers by their skills #}
        {# -------------------------------------------------------------------------------- #}
        {% set body %}
            {% for skill in skills %}
                <div class="form-check">
                    <label class="switch">
                        <input type="checkbox"
                               class="form-check-input filter-action filter-action-{{ communication.id }}"
                               id="filter-is-skill-{{ skill.id }}-{{ communication.id }}"/>
                        <span class="slider"></span>
                    </label>
                    <label class="form-check-label"
                           for="filter-is-skill-{{ skill.id }}-{{ communication.id }}">
                        {{ ('tag.' ~ skill.label)|trans }}
                    </label>
                </div>
            {% endfor %}
        {% endset %}

        {{ macros.modal('filter-skill-' ~ communication.id, 'campaign_status.filter.title'|trans ~ ' ' ~ 'campaign_status.filter.by_skill'|trans, body) }}

    {% endfor %}

    {# -------------------------------------------------------------------------------- #}
    {# Edit answers #}
    {# -------------------------------------------------------------------------------- #}
    {% if campaign.active %}
        {% set body %}

            <div id="modal-edit-answer"></div>

        {% endset %}

        {{ macros.modal('edit-answer', 'modal.answers'|trans, body) }}
    {% endif %}

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        {# -------------------------------------------------------------------------------- #}
        {# Auto refresh of values (Poll or SSE) #}
        {# -------------------------------------------------------------------------------- #}

        function refreshStatuses(data) {
            $.each(data, function (communicationId, communication) {
                $.each(communication.msg, function (messageId, messageStatus) {
                    var suffix = communicationId + '-' + messageId;

                    {# Message is sent #}
                    if (messageStatus.sent) {
                        $('#volunteer-name-' + suffix).removeClass('text-black-50');
                    }

                    {# Message is "<value>" #}
                    $.each(messageStatus.choices, function (choiceId, isChoice) {
                        if (isChoice) {
                            $('#message-is-choice-' + choiceId + '-' + suffix).removeClass('d-none');
                            $('#message-is-choice-time-' + choiceId + '-' + suffix).html(isChoice);
                        } else {
                            $('#message-is-choice-' + choiceId + '-' + suffix).addClass('d-none');
                        }

                        $('#message-is-choice-' + choiceId + '-' + suffix).data('value', isChoice ? 1 : 0);
                    });

                    {# Message has invalid answer #}
                    if (messageStatus['has-invalid-answer']['raw']) {
                        $('#message-has-invalid-answer-' + suffix).removeClass('d-none');
                        $('#message-has-invalid-answer-time-' + suffix).html(messageStatus['has-invalid-answer']['time']);
                        $('#invalid-answer-raw-' + suffix).html(messageStatus['has-invalid-answer']['raw']).removeClass('d-none');
                    } else {
                        $('#message-has-invalid-answer-' + suffix).addClass('d-none');
                        $('#invalid-answer-raw-' + suffix).addClass('d-none');
                    }
                    $('#message-has-invalid-answer-' + suffix).data('value', messageStatus['has-invalid-answer']['raw'] ? 1 : 0);
                });

                {# Refresh the SMS sending progress bar #}
                var progressBar = $('#progress-bar-' + communicationId);
                if (communication.progress.percent == 100 && !progressBar.hasClass('bg-success')) {
                    progressBar.addClass('bg-success');
                }
                progressBar.attr('aria-valuenow', communication.progress.percent);
                progressBar.css('width', communication.progress.percent + '%');

                if (communication.progress.percent == 100) {
                    $('#progress-text-' + communicationId).html(
                        '{{ 'campaign_status.finish'|trans|e('js') }}'
                            .replace('%cost%', communication.progress.cost)
                    );
                } else {
                    $('#progress-text-' + communicationId).html(
                        $('#progress-trans-key-' + communicationId).html()
                            .replace('%sent%', communication.progress.sent)
                            .replace('%total%', communication.progress.total)
                            .replace('%progress%', communication.progress.percent)
                            .replace('%cost%', communication.progress.cost)
                    );
                }

                $.each(communication.choices, function (choiceId, count) {
                    $('#choice-count-' + choiceId).html('(' + count + ')');
                });
            });

            refreshVisibility();
        }

        setInterval(function () {
            $.ajax('{{ path('communication_poll', {campaignId: campaign.id}) }}', {
                type: 'POST',
                statusCode: {
                    200: refreshStatuses,
                    403: function () {
                        document.location = '{{ path('home') }}';
                    },
                }
            });
        }, 5000);

        var communicationIds = [];
        {% for communication in campaign.communications %}
        communicationIds.push("{{ communication.id|e('js') }}");
        {% endfor %}

        {# -------------------------------------------------------------------------------- #}
        {# Filter rows according to ticked columns #}
        {# -------------------------------------------------------------------------------- #}

        function refreshVisibility() {

            var actions = [];
            {% for communication in campaign.communications %}
            actions["{{ communication.id|e('js') }}"] = [
                {% if communication.choices|length %}
                {% for choice in communication.choices %}
                "is-choice-{{ choice.id|e('js') }}",
                {% endfor %}
                "has-invalid-answer",
                {% endif %}
            ];
            {% endfor %}

            var skills = [];
            {% for skill in skills %}
            skills.push("is-skill-{{ skill.id|e('js') }}");
            {% endfor %}

            {#
             # Controlling each checkboxes:
             #
             # Each filter is inclusive on its category (if you select "Yes" and "No" in the response category,
             # you will get all volunteers who answered "Yes" --or-- "No").
             #
             # But, filter categories are exclusive each other (if you select "Yes" in the response category
             # and "Driver" in the skills category, you will get all volunteers that are drivers --and-- who
             # answered "Yes")
             #}
            $.each(communicationIds, function (key, communicationId) {
                {# if all checkbox unticked, is visible #}
                var count = 0;
                $('.filter-action-' + communicationId).each(function () {
                    count += $(this).is(':checked');
                });
                if (count === 0) {
                    $('.row-' + communicationId).fadeIn();
                    return true;
                }

                {# if some checkbox ticked, visible if at least one value is 1 #}
                $('.row-' + communicationId).each(function () {
                    var row = $(this);

                    {# is visible if answer ticked and volunteer answered OR if no answer selected #}
                    var actionVisible = false;
                    var actionCount = 0;
                    $.each(actions[communicationId], function (key, action) {
                        var suffix = action + '-' + communicationId;
                        if ($('#filter-' + suffix).is(':checked') && row.find('.message-' + suffix).data('value') === 1) {
                            actionVisible = true;
                        }
                        actionCount += $('#filter-' + suffix).is(':checked');
                    });
                    if (actionCount === 0) {
                        actionVisible = true;
                    }

                    {# is visible if skill ticked and volunteer has it OR if no skills selected #}
                    var skillVisible = false;
                    var skillCount = 0;
                    $.each(skills, function (key, action) {
                        var suffix = action + '-' + communicationId;
                        if ($('#filter-' + suffix).is(':checked') && row.find('.message-' + suffix).data('value') === 1) {
                            skillVisible = true;
                        }
                        skillCount += $('#filter-' + suffix).is(':checked');
                    });
                    if (skillCount === 0) {
                        skillVisible = true;
                    }

                    {# displays the row only if the 2 conditions above are true #}
                    if (actionVisible && skillVisible) {
                        row.fadeIn();
                    } else {
                        row.fadeOut();
                        row.find('.volunteer-selection').prop('checked', false);
                    }
                });
            });
        }

        $('.filter-action').click(function () {
            refreshVisibility();
        });
        refreshVisibility();

        {# -------------------------------------------------------------------------------- #}
        {# Volunteer selection #}
        {# -------------------------------------------------------------------------------- #}

        $('.select-all').click(function () {
            var communicationId = $(this).data("communication-id");

            $('.row-' + communicationId + ':hidden')
                .find('.volunteer-selection')
                .prop('checked', false);

            $('.row-' + communicationId + ':visible').each(function () {
                var selection = $(this).find('.volunteer-selection');
                if (selection.is(':checked')) {
                    selection.prop('checked', false);
                } else {
                    selection.prop('checked', true);
                }
            });

            $(this).prop('checked', false);
        });
        $('.select-all, .volunteer-selection').prop('checked', false);

        function getSelectedVolunteers(communicationId) {
            var volunteerIds = [];
            $('.row-' + communicationId + ':visible').each(function () {
                var row = $(this);
                var selection = row.find('.volunteer-selection');
                if (selection.is(':checked')) {
                    volunteerIds.push(row.data('volunteer-id'));
                }
            });
            return volunteerIds;
        }

        {# -------------------------------------------------------------------------------- #}
        {# Answers viewing #}
        {# -------------------------------------------------------------------------------- #}
        $('.open-message').click(function () {
            $('#modal-edit-answer').html('');
            $('#edit-answer').modal();
            loadCommunicationAnswers($(this));
        });

        function loadCommunicationAnswers(elem) {
            $.get({
                url: '{{ path('communication_answers') }}',
                data: {
                    messageId: elem.data('message-id'),
                },
                success: function (data) {
                    $('#modal-edit-answer').html(data);
                }
            });
        }

        {# -------------------------------------------------------------------------------- #}
        {# Answers edition #}
        {# -------------------------------------------------------------------------------- #}
        $('body').on('change', '.answer-change', function () {
            var that = $(this);
            var endpoint = that.data('endpoint');
            var choiceId = that.data('choice-id');

            $('.answer-change').not(that).prop('checked', false);

            $.post(endpoint, {
                choiceId: choiceId,
            }, function () {
                loadCommunicationAnswers(that);
            });
        });

        {# -------------------------------------------------------------------------------- #}
        {# Create new communication #}
        {# -------------------------------------------------------------------------------- #}

        $('.new-message-button').click(function (e) {
            e.preventDefault();
            var communicationId = $(this).data('communication-id');
            $('#selection-new-message-field-' + communicationId).val(
                JSON.stringify(getSelectedVolunteers(communicationId))
            );
            $('#selection-new-message-form-' + communicationId).submit();
        });

        {# -------------------------------------------------------------------------------- #}
        {# Download selection #}
        {# -------------------------------------------------------------------------------- #}

        $('.download-csv-button').click(function (e) {
            e.preventDefault();
            var communicationId = $(this).data('communication-id');
            $('#selection-download-csv-field-' + communicationId).val(
                JSON.stringify(getSelectedVolunteers(communicationId))
            );
            $('#selection-download-csv-form-' + communicationId).submit();
        });

        $('.download-portrait-pdf-button').click(function (e) {
            e.preventDefault();
            var communicationId = $(this).data('communication-id');
            $('#selection-download-portrait-pdf-field-' + communicationId).val(
                JSON.stringify(getSelectedVolunteers(communicationId))
            );
            $('#selection-download-portrait-pdf-form-' + communicationId).submit();
        });

        {# -------------------------------------------------------------------------------- #}
        {# Filter responses using the table #}
        {# -------------------------------------------------------------------------------- #}

        $('.filter-response').click(function (e) {
            var that = $(this);

            var currentlyTicked = $('#' + that.data('target')).is(':checked');

            {# Untick all responses filters #}
            $('.filter-response-' + that.data('communication-id')).each(function () {
                var tick = $(this);
                if (tick.is(':checked')) {
                    tick.click();
                }
            });

            {# Tick the corresponding response #}
            if (!currentlyTicked) {
                $('#' + that.data('target')).click();
            }

            e.preventDefault();
        });

    </script>

{% endblock %}
