{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <div class="jumbotron text-center">

        <a href="{{ path('admin_pegass_index') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'password_login.user_list.button'|trans }}</a>

        <br/><br/>

        <a href="{{ path('admin_prefilled_answers_list') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'prefilled_answers.title'|trans }}</a>

        <br/><br/>

        <a href="{{ path('admin_campaign_index') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'campaign.titles.list_admin' | trans }}</a>

        <br><br>

        <a href="{{ path('admin_stats_home') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'admin.statistics.buttons.main' |trans }}</a>

        <br><br>

        <a href="{{ path('admin_answer_analysis_index') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'admin.answer_analysis.title' |trans }}</a>

        {% if is_granted('ROLE_DEVELOPER') %}

            <br><br>

            <a href="{{ path('admin_maintenance_index') }}"
               class="text-lg-center large-button btn btn-secondary">{{ 'maintenance.title'|trans }}</a>

        {% endif %}

        <br/><br/><br/>

        <a href="{{ path('home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}