{% import 'macros.html.twig' as macros %}

{% if category.badges|length %}
    <div class="row">
        {% for badge in category.badges %}
            <div class="col-7 category-badge-{{ badge.id }}" style="padding:5px;">
                {{ macros.badge(badge) }}
            </div>

            <div class="col-5 category-badge-{{ badge.id }} text-right" style="padding:5px;">
                <div class="float-right">

                    <span class="{% if badge.visibility %}d-none{% endif %}" id="enable-{{ badge.id }}">
                        <a href="{{ path('admin_badge_toggle_visibility', {id: badge.id, token: csrf_token('token')}) }}"
                           class="btn btn-primary toggle-visibility enable" data-id="{{ badge.id }}">{{ 'base.button.enable'|trans }}</a>
                    </span>
                    <span class="{% if not badge.visibility %}d-none{% endif %}" data-id="{{ badge.id }}" id="disable-{{ badge.id }}">
                        <a href="{{ path('admin_badge_toggle_visibility', {id: badge.id, token: csrf_token('token')}) }}"
                           class="btn btn-secondary toggle-visibility disable" data-id="{{ badge.id }}">{{ 'base.button.disable'|trans }}</a>
                    </span>

                    <a href="#"
                       data-id="{{ category.id }}"
                       data-confirm="{{ 'admin.category.badges_delete'|trans({'%name%': badge.name}) }}"
                       data-uri="{{ path('admin_category_delete_badge', {categoryId: category.id, badgeId: badge.id, token: csrf_token('token')}) }}"
                       data-row="category-badge-{{ badge.id }}"
                       class="btn btn-secondary delete-badge-from-category" style="border:1px solid red !important;">❌</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr/>
{% endif %}

<div class="text-center">
    <p>{{ 'admin.category.badges_add'|trans }}</p>
    <div id="badge-to-add">
        {{ render(controller('\\App\\Controller\\WidgetController::badgeEditor')) }}
    </div>
</div>

<script type="text/javascript">

    $('body')
        .off('change', '#badge-to-add input.flexdatalist')
        .on('change', '#badge-to-add input.flexdatalist', function () {
            if ($(this).val()) {
                $.post('{{ path('admin_category_add_badge', {id: category.id, token: csrf_token('token')}) }}', {
                    badge: $(this).val(),
                }, function (response) {
                    $('#category-badges .modal-body').html(response.body);
                    $('#category-badges .modal-body .flexdatalist').flexdatalist();
                    $.get('{{ path('admin_category_refresh', {id: category.id}) }}', function (html) {
                        $('#category-{{ category.id }}').html(html);
                    });
                });
            }
        });

    $('body')
        .off('click', '.toggle-visibility')
        .on('click', '.toggle-visibility', function (e) {
            e.preventDefault();

            var that = $(this);
            var id = that.data('id');

            $.post(that.prop('href'));

            if (that.hasClass('enable')) {
                $('#enable-' + id).addClass('d-none');
                $('#disable-' + id).removeClass('d-none');
            } else {
                $('#enable-' + id).removeClass('d-none');
                $('#disable-' + id).addClass('d-none');
            }
        });

</script>