{% extends 'base.html.twig' %}

{% block body %}

    <br/>

    <div class="col-md-12 jumbotron">

        <h3>{{ 'admin.pegass.create_user'|trans }}</h3>

        {{ form_start(form) }}
        {{ form_row(form.nivol) }}
        <br/>
        {{ form_end(form) }}

        <br/><br/>

        <a href="{{ path('admin_pegass_index') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}
