{% extends 'base.html.twig' %}

{% block title %}{{ 'password_login.user_list.title'|trans }}{% endblock %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <br/>

    <div class="col-md-12 jumbotron">

        <h3>{{ 'admin.pegass.title'|trans }}</h3>

        <div class="text-center">
            <br/>
            <a href="{{ path('admin_pegass_create_user') }}" class="btn btn-secondary">{{ 'admin.pegass.create_user'|trans }}</a>
            &nbsp; &nbsp;
            <a href="{{ path('admin_pegass_list_users') }}" class="btn btn-secondary">{{ 'admin.pegass.list_users'|trans }}</a>
            <br/><br/>
        </div>

        {{ form_start(search) }}
        <input type="hidden" name="type" value="pegass"/>
        {{ form_end(search) }}

        <table class="table">
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <div class="h4" {% if user.root %}style="color:red;"{% endif %}>
                                        {{ user.username }}
                                    </div>
                                    <div class="text-small">
                                        {{ 'password_login.user_list.registered_at'|trans({'%date%': user.registeredAt|date('d/m/Y H:i')}) }}
                                    </div>
                                    {% if user.volunteer %}
                                        <div>{{ 'admin.pegass.bound_volunteer'|trans({'%name%': user.volunteer.displayName}) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    {% if user.verified %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'password_login.user_list.is_valid'|trans }} <sup>(1)</sup>
                                </div>
                                <div>
                                    {% if user.trusted %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'password_login.user_list.is_trusted'|trans }} <sup>(2)</sup>
                                </div>
                                <div class="text-small">
                                    {% if user.developer %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}
                                    {{ 'admin.pegass.developered'|trans }} <sup>(3)</sup>
                                </div>
                                <div class="text-small">
                                    {% if user.admin %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'password_login.user_list.is_admin'|trans }} <sup>(4)</sup>
                                </div>
                                <div class="text-small">
                                    {% if user.root %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'admin.pegass.is_root'|trans }} <sup>(5)</sup>
                                </div>
                                <div class="text-small">
                                    {% if user.locked %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}
                                    {{ 'admin.pegass.locked'|trans }} <sup>(6)</sup>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="external-id"
                                     data-id="{{ user.id }}"
                                     data-uri="{{ path('admin_pegass_update', {csrf: csrf_token('pegass'), id: user.id}) }}">
                                    {% if user.locked %}
                                        <strong>{{ user.externalId }}</strong>
                                    {% else %}
                                        {{ render(controller('\\App\\Controller\\WidgetController::volunteerEditor', {
                                            user: user
                                        })) }}
                                    {% endif %}
                                </div>
                                <div id="structures-{{ user.id }}">
                                    {% for structure in user.structures %}
                                        {% if structure.platform == user.platform %}
                                            <div>{{ structure.name }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <a href="{{ path('admin_pegass_update_structures', {id: user.id}) }}">{{ 'management.update_structures'|trans }}</a>
                            </div>
                            <div class="col-md-1">
                                {% if not user.isEqualTo(app.user) or user.root %}
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ 'base.actions'|trans }}
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">

                                            <a class="dropdown-item text-primary" href="{{ path('password_login_admin_profile', {username: user.username}) }}">
                                                {{ 'password_login.user_list.profile'|trans }}
                                            </a>

                                            <div class="dropdown-divider"></div>

                                            {% if user.verified %}
                                                <a class="dropdown-item text-danger" href="{{ path('admin_pegass_toggle_verify', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'password_login.user_list.unverify'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item text-success" href="{{ path('admin_pegass_toggle_verify', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'password_login.user_list.verify'|trans }}
                                                </a>
                                            {% endif %}

                                            {% if user.trusted %}
                                                <a class="dropdown-item text-danger" href="{{ path('admin_pegass_toggle_trust', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'password_login.user_list.untrust'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item text-success" href="{{ path('admin_pegass_toggle_trust', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'password_login.user_list.trust'|trans }}
                                                </a>
                                            {% endif %}

                                            {% if user.developer %}
                                                <a class="dropdown-item text-danger" href="{{ path('admin_pegass_toggle_developer', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'admin.pegass.undeveloper'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item text-success" href="{{ path('admin_pegass_toggle_developer', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'admin.pegass.developer'|trans }}
                                                </a>
                                            {% endif %}

                                            {% if user.admin %}
                                                <a class="dropdown-item text-danger" href="{{ path('admin_pegass_toggle_admin', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'password_login.user_list.unadmin'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item text-success" href="{{ path('admin_pegass_toggle_admin', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'password_login.user_list.admin'|trans }}
                                                </a>
                                            {% endif %}

                                            {% if app.user.root %}
                                                {% if user.root %}
                                                    <a class="dropdown-item text-danger" href="{{ path('admin_pegass_toggle_root', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                        {{ 'admin.pegass.unroot'|trans }}
                                                    </a>
                                                {% else %}
                                                    <a class="dropdown-item text-success" href="{{ path('admin_pegass_toggle_root', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                        {{ 'admin.pegass.root'|trans }}
                                                    </a>
                                                {% endif %}
                                            {% endif %}

                                            <div class="dropdown-divider"></div>

                                            {% if user.locked %}
                                                <a class="dropdown-item text-danger" href="{{ path('admin_pegass_toggle_lock', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'admin.pegass.unlock'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item text-success" href="{{ path('admin_pegass_toggle_lock', {id: user.id, csrf: csrf_token('pegass')}) }}">
                                                    {{ 'admin.pegass.lock'|trans }}
                                                </a>
                                            {% endif %}

                                            {% if app.user.root %}

                                                <div class="dropdown-divider"></div>

                                                <div class="dropdown-header">{{ 'admin.resources.change_platform_title'|trans }}</div>
                                                {% for platform in platforms %}
                                                    <a class="dropdown-item {% if platform == user.platform %}disabled{% else %}text-primary{% endif %}" href="{{ path('admin_pegass_update_platform', {id: user.id, csrf: csrf_token('csrf'), platform: platform}) }}" {% if platform == user.platform %}onclick="return false;"{% endif %}>
                                                        {{ 'admin.resources.change_platform'|trans({'%platform%': platform.flag ~ ' ' ~ platform.label}) }}
                                                    </a>
                                                {% endfor %}

                                            {% endif %}

                                            <div class="dropdown-divider"></div>

                                            <a class="dropdown-item text-danger" href="{{ path('admin_pegass_delete', {id: user.id, csrf: csrf_token('pegass')}) }}" onclick="return confirm('{{ 'admin.pegass.delete_confirm'|trans({'%email%': user.username})|e('js') }}');">
                                                {{ 'password_login.user_list.delete'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ macros.pager(users) }}

        <div class="text-left">
            <sup>(1)</sup> {{ 'password_login.user_list.description_verified'|trans }}
        </div>
        <div class="text-left">
            <sup>(2)</sup> {{ 'password_login.user_list.description_trusted'|trans }}
        </div>
        <div class="text-left">
            <sup>(3)</sup> {{ 'admin.pegass.developered_details'|trans }}
        </div>
        <div class="text-left">
            <sup>(4)</sup> {{ 'password_login.user_list.description_admin'|trans }}
        </div>
        <div class="text-left">
            <sup>(5)</sup> {{ 'admin.pegass.root_details'|trans }}
        </div>
        <div class="text-left">
            <sup>(6)</sup> {{ 'admin.pegass.locked_details'|trans }}
        </div>

        <br/>

        <div class="text-center">
            <a href="{{ path('admin_home') }}"
               class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
        </div>

    </div>

    <script type="text/javascript">

        $('.external-id input').change(function () {
            var container = $(this).closest('.external-id');
            var input = $(this);

            $.post(container.data('uri'), {
                externalId: input.val(),
            }, function (data) {
                var structuresContainer = $('#structures-' + container.data('id'));
                structuresContainer.html('');
                $.each(data.structures, function (index, value) {
                    structuresContainer.append('<div>' + value + '</div>');
                });
            });
        });

    </script>

{% endblock %}