{% import 'macros.html.twig' as macros %}

<div class="col-md-12 jumbotron">

    <h3>{{ 'admin.pegass.title'|trans }}</h3>

    <div class="text-center">
        <br/>
        <a href="{{ path('admin_pegass_create_user') }}" class="btn btn-secondary">{{ 'admin.pegass.create_user'|trans }}</a>
        &nbsp; &nbsp;
        <a href="{{ path('admin_pegass_list_users') }}" class="btn btn-secondary">{{ 'admin.pegass.list_users'|trans }}</a>
        <br/><br/>
    </div>

    {{ form_start(search) }}
    <input type="hidden" name="type" value="pegass"/>
    {{ form_end(search) }}

    <table class="table">
        <tbody>
        {% for userInformation in userInformations %}
            {% set user = userInformation.user %}

            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <div class="h4">{{ user.username }}</div>
                                <div class="text-small">
                                    {{ 'password_login.user_list.registered_at'|trans({'%date%': user.registeredAt|date('d/m/Y H:i')}) }}
                                </div>
                                {% if userInformation.volunteer %}
                                    <div>{{ 'admin.pegass.bound_volunteer'|trans({'%name%': userInformation.volunteer.displayName}) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            {% if not user.isEqualTo(app.user) %}
                                <div>
                                    {% if user.verified %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'password_login.user_list.is_valid'|trans }} <sup>(1)</sup>
                                </div>
                                <div>
                                    {% if user.trusted %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'password_login.user_list.is_trusted'|trans }} <sup>(2)</sup>
                                </div>
                                <div class="text-small">
                                    {% if user.admin %}
                                        <span class="h4">✅</span>
                                    {% else %}
                                        <span class="h4">❌</span>
                                    {% endif %}

                                    {{ 'password_login.user_list.is_admin'|trans }} <sup>(3)</sup>
                                </div>
                            {% else %}
                                <div class="text-small">&nbsp;</div>
                                <div class="text-small">&nbsp;</div>
                                <div class="text-small">&nbsp;</div>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <div class="nivol"
                                 data-id="{{ user.id }}"
                                 data-uri="{{ path('admin_pegass_update', {csrf: csrf_token('pegass'), id: userInformation.id}) }}">
                                {{ render(controller('\\App\\Controller\\WidgetController::nivolEditor', {
                                    userInformation: userInformation
                                })) }}
                            </div>
                            <div id="structures-{{ user.id }}">
                                {% for structure in userInformation.structures %}
                                    <div>{{ structure.name }}</div>
                                {% endfor %}
                            </div>

                            <a href="{{ path('admin_pegass_update_structures', {id: userInformation.id}) }}">{{ 'management.update_structures'|trans }}</a>
                        </div>
                        <div class="col-md-1">
                            {% if not user.isEqualTo(app.user) %}
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'base.actions'|trans }}
                                </button>
                                <div class="dropdown-menu">
                                    {% if user.verified %}
                                        <a class="dropdown-item text-danger" href="{{ path('password_login_admin_toggle_verify', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                            {{ 'password_login.user_list.unverify'|trans }}
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item text-success" href="{{ path('password_login_admin_toggle_verify', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                            {{ 'password_login.user_list.verify'|trans }}
                                        </a>
                                    {% endif %}

                                    {% if user.trusted %}
                                        <a class="dropdown-item text-danger" href="{{ path('password_login_admin_toggle_trust', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                            {{ 'password_login.user_list.untrust'|trans }}
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item text-success" href="{{ path('password_login_admin_toggle_trust', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                            {{ 'password_login.user_list.trust'|trans }}
                                        </a>
                                    {% endif %}

                                    {% if user.admin %}
                                        <a class="dropdown-item text-danger" href="{{ path('password_login_admin_toggle_admin', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                            {{ 'password_login.user_list.unadmin'|trans }}
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item text-success" href="{{ path('password_login_admin_toggle_admin', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                            {{ 'password_login.user_list.admin'|trans }}
                                        </a>
                                    {% endif %}

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item text-danger" href="{{ path('password_login_admin_delete', {username: user.username, csrf: csrf_token('password_login')}) }}">
                                        {{ 'password_login.user_list.delete'|trans }}
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ macros.pager(userInformations, null, {type: 'pegass'}) }}

    <div class="text-left">
        <sup>(1)</sup> {{ 'password_login.user_list.description_verified'|trans }}
    </div>
    <div class="text-left">
        <sup>(2)</sup> {{ 'password_login.user_list.description_trusted'|trans }}
    </div>
    <div class="text-left">
        <sup>(3)</sup> {{ 'password_login.user_list.description_admin'|trans }}
    </div>

    <br/>

    <div class="text-center">
        <a href="{{ path('admin_home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

</div>

<script type="text/javascript">

    $('.nivol input').change(function () {
        var container = $(this).closest('.nivol');
        var input = $(this);

        $.post(container.data('uri'), {
            nivol: input.val(),
        }, function (data) {
            var structuresContainer = $('#structures-' + container.data('id'));
            structuresContainer.html('');
            $.each(data.structures, function (index, value) {
                structuresContainer.append('<div>' + value + '</div>');
            });
        });
    });

</script>
