{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.pegass.rtmr.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12 jumbotron shadow p-3 mb-5 rounded">
        <h3>{{ 'admin.pegass.rtmr.title'|trans }}</h3>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'admin.pegass.rtmr.user'|trans }}</th>
                        <th>{{ 'admin.pegass.rtmr.structures'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for volunteer in volunteers %}
                        <tr>
                            <td>
                                <strong>{{ volunteer.displayName }}</strong><br/>
                                <small class="text-muted">{{ volunteer.user.username }}</small>
                            </td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    {% for structure in volunteer.user.structures %}
                                        <li><i class="fas fa-check-circle text-success mr-2"></i>{{ structure.name }}</li>
                                    {% else %}
                                        <li class="text-muted italic">{{ 'admin.pegass.rtmr.no_structures'|trans }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center text-muted italic">
                                {{ 'admin.pegass.rtmr.none'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('admin_pegass_index') }}" class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
        </div>
    </div>
{% endblock %}
