{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <div class="col-md-12 jumbotron">

        <h3>{{ 'admin.pegass.structures'|trans({'%name%': user.username}) }}</h3>

        {% if user.structures.count %}
            {{ form(form) }}

            <hr/>
        {% endif %}

        {{ 'admin.pegass.add_structure'|trans }}
        <div id="structure-to-add">
            {{ render(controller('\\App\\Controller\\WidgetController::structureEditor')) }}
        </div>

        <br/>

        <a href="{{ path('admin_pegass_index') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

    <script type="text/javascript">
        $('#structure-to-add input').change(function () {
            document.location = '{{ path('admin_pegass_add_structure', {id: user.id, csrf: csrf_token('pegass')})|e('js') }}?structure=' + $(this).val();
        });
    </script>

{% endblock %}
