{% extends 'base.html.twig' %}

{% block body %}

    <br/>

    <div class="col-md-12 jumbotron shadow p-3 mb-5 rounded">

        <h3>{{ 'admin.pegass.list_users'|trans }}</h3>

        <br/>
        <p>{{ 'admin.pegass.list_users_explain'|trans }}</p>
        <br/>

        <div class="form-group">
            <textarea class="form-control" rows="15">{{ list|join(', ') }}</textarea>
        </div>

        <a href="{{ path('admin_pegass_index') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}
