{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {{ 'import_volunteers.title'|trans }}
    </h1>

    <div class="text-center skip-line">
        <a href="{{ path('admin_volunteers_run', app.request.query.all|merge({csrf: csrf_token('manage_volunteers')})) }}"
           onclick="$(this).addClass('disabled');"
           class="text-lg-center large-button btn btn-secondary">{{ 'import_volunteers.import_again'|trans }}</a>
    </div>

    <div class="text-center skip-line">
        <a href="{{ path('admin_volunteers_list') }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'import_volunteers.back'|trans }}</a>
    </div>

    <p>
        {{ 'import_volunteers.open_spreadsheet'|trans }}
        <br/>
        <a href="{{ link }}" target="_blank">{{ link }}</a>
    </p>

    <div>

        {{ macros.orderBy(orderBy, {
            'id': 'import_volunteers.columns.line'|trans,
            'nivol': 'import_volunteers.columns.nivol'|trans,
            'firstName': 'import_volunteers.columns.firstname'|trans,
            'lastName': 'import_volunteers.columns.lastname'|trans,
            'postalCode': 'import_volunteers.columns.postal_code'|trans,
            'phone': 'import_volunteers.columns.phone'|trans,
            'email': 'import_volunteers.columns.email'|trans,
            'minor': 'import_volunteers.columns.minor'|trans,
            'callable': 'import_volunteers.columns.callable'|trans,
        }) }}

        <table class="table">
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ 'import_volunteers.columns.line'|trans }}{{ row.id }}</td>

                    <td>
                        <div>{{ 'import_volunteers.columns.nivol'|trans }}: {{ row.nivol }}</div>
                        <div>{{ 'import_volunteers.columns.firstname'|trans }}: {{ row.firstname }}</div>
                        <div>{{ 'import_volunteers.columns.lastname'|trans }}: {{ row.lastname }}</div>
                        <div>{{ 'import_volunteers.columns.postal_code'|trans }}: {{ row.postalCode }}</div>
                        <div>{{ 'import_volunteers.columns.phone'|trans }}: {{ row.phone }}</div>
                        <div>{{ 'import_volunteers.columns.email'|trans }}: {{ row.email }}</div>
                        <div>{{ 'import_volunteers.columns.minor'|trans }}: {{ row.isMinor ? '🚩' : '❌' }}</div>
                        <div>{{ 'import_volunteers.columns.callable'|trans }}: {{ row.isCallable ? '✅' : '❌' }}</div>
                        <div>
                            {{ 'import_volunteers.columns.importable'|trans }}: {{ row.isImportable ? '✅' : '❌' }}
                        </div>
                    </td>

                    <td>
                        {% for tag, enabled in row.tags %}
                            <div>{{ ('tag.' ~ tag)|trans }}: {{ enabled ? '✅' : '❌' }}</div>
                        {% endfor %}
                    </td>

                    <td>
                        {% for error in row.status %}
                            <div><code>{{ error }}</code></div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}