{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {{ 'manage_volunteers.title'|trans }}
    </h1>

    <div class="text-center skip-line">
        <a href="{{ path('admin_volunteers_run', app.request.query.all|merge({csrf: csrf_token('manage_volunteers')})) }}"
           onclick="$(this).addClass('disabled');"
           class="text-lg-center large-button btn btn-secondary">
            {{ 'manage_volunteers.import_again'|trans }}
            <br/>
            {{ 'manage_volunteers.import_again_help'|trans }}
        </a>
    </div>

    <div class="text-right skip-line">

        <a href="{{ path('admin_volunteers_create') }}" class="btn btn-secondary">
            {{ 'manage_volunteers.form.create'|trans }}
        </a>

    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-enabled-tab" data-toggle="tab"
               href="#nav-enabled" role="tab"
               aria-controls="nav-enabled" aria-selected="true">{{ 'manage_volunteers.tabs.enabled'|trans }}</a>
            <a class="nav-item nav-link" id="nav-disabled-tab"
               data-toggle="tab"
               href="#nav-disabled" role="tab"
               aria-controls="nav-disabled" aria-selected="false">{{ 'manage_volunteers.tabs.disabled'|trans }}</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-content">
        {% for type, table in data %}

            <div class="tab-pane {% if type == 'enabled' %}show active{% endif %}"
                 id="nav-{{ type }}"
                 role="tabpanel" aria-labelledby="nav-{{ type }}-tab">

                {{ macros.orderBy(table.orderBy, {
                    'nivol': 'manage_volunteers.order.nivol'|trans,
                    'firstName': 'manage_volunteers.order.firstname'|trans,
                    'lastName': 'manage_volunteers.order.lastname'|trans,
                    'lastPegassUpdate': 'manage_volunteers.order.last_pegass_update'|trans,
                    'locked': 'manage_volunteers.order.locked'|trans,
                }, 'nav-' ~ type) }}


                <table class="table">
                    <tbody>

                    {% for volunteer in table.rows %}

                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-5">
                                        <div class="h4">
                                            {# Volunteer name and minority #}
                                            {% if volunteer.enabled %}
                                                {{ volunteer.firstname ~ ' ' ~ volunteer.lastname }}
                                            {% else %}
                                                <span style="color:grey;">{{ volunteer.firstname ~ ' ' ~ volunteer.lastname }}</span>
                                            {% endif %}
                                            {% if volunteer.minor %}
                                                <span title="{{ 'manage_volunteers.form.minor'|trans }}">🐻</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {# Volunteer skills #}
                                            {% for skill in volunteer.tagsView %}
                                                {{ ('tag.shortcuts.' ~ skill)|trans }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="text-small">
                                            {# Last volunteer update #}
                                            {% if volunteer.lastPegassUpdate and volunteer.lastPegassUpdate|date('Y') != 2000 %}
                                                {{ 'manage_volunteers.columns.update'|trans({'%date%': volunteer.lastPegassUpdate|date('d/m/Y')}) }}
                                            {% else %}
                                                {{ 'manage_volunteers.columns.never_updated'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        {# Volunteer contact information #}
                                        <a href="mailto:{{ volunteer.email }}?subject={{ 'manage_volunteers.contact.mail_subject'|trans|e('html_attr') }}">{{ volunteer.email }}</a>
                                        <br/>
                                        <a href="tel:+{{ volunteer.phoneNumber }}">+{{ volunteer.phoneNumber }}</a>
                                    </div>

                                    <div class="col-2">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ 'manage_volunteers.action.title'|trans }}
                                            </button>

                                            <div class="dropdown-menu">
                                                {# Refresh volunteer general data #}
                                                <a class="dropdown-item" href="{{ path('admin_volunteers_refresh_general', app.request.query.all|merge({volunteerId: volunteer.id, csrf: csrf_token('manage_volunteers')})) }}" onclick="$(this).addClass('disabled');">
                                                    {{ 'manage_volunteers.action.refresh_general'|trans }}
                                                </a>

                                                {# Refresh volunteer skills #}
                                                <a class="dropdown-item" href="{{ path('admin_volunteers_refresh_skills', app.request.query.all|merge({volunteerId: volunteer.id, csrf: csrf_token('manage_volunteers')})) }}" onclick="$(this).addClass('disabled');">
                                                    {{ 'manage_volunteers.action.refresh_skills'|trans }}
                                                </a>

                                                {# Manual volunteer update #}
                                                <a class="dropdown-item"  href="{{ path('admin_volunteers_manual_update', {id: volunteer.id}) }}">
                                                    {{ 'manage_volunteers.action.manual_update'|trans }}
                                                </a>

                                                <div class="dropdown-divider"></div>

                                                {# Lock volunteer #}
                                                {% if volunteer.locked %}
                                                    <a class="dropdown-item text-success" href="{{ path('admin_volunteers_unlock', app.request.query.all|merge({volunteerId: volunteer.id, csrf: csrf_token('manage_volunteers')})) }}">
                                                        {{ 'manage_volunteers.action.unlock'|trans }}
                                                    </a>
                                                {% else %}
                                                    <a class="dropdown-item text-danger" href="{{ path('admin_volunteers_lock', app.request.query.all|merge({volunteerId: volunteer.id, csrf: csrf_token('manage_volunteers')})) }}">
                                                        {{ 'manage_volunteers.action.lock'|trans }}
                                                    </a>
                                                {% endif %}

                                                {# Disable volunteer #}
                                                {% if not volunteer.locked %}
                                                    {% if volunteer.enabled %}
                                                        <a class="dropdown-item text-danger" href="{{ path('admin_volunteers_disable', app.request.query.all|merge({volunteerId: volunteer.id, csrf: csrf_token('manage_volunteers')})) }}">
                                                            {{ 'manage_volunteers.action.disable'|trans }}
                                                        </a>
                                                    {% else %}
                                                        <a class="dropdown-item text-success" href="{{ path('admin_volunteers_enable', app.request.query.all|merge({volunteerId: volunteer.id, csrf: csrf_token('manage_volunteers')})) }}">
                                                            {{ 'manage_volunteers.action.enable'|trans }}
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>

                                    {# Errors during volunteer importation #}
                                    {% if volunteer.report %}
                                        <div class="col-12">
                                            {% for error in volunteer.report %}
                                                <div><code>{{ error }}</code></div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>

        {% endfor %}
    </div>

{% endblock %}