{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="rc-section">

        <div class="text-right">
            <a href="{{ path('space_download_data', {sessionId: session.sessionId}) }}">{{ 'space.consult_data.download_btn'|trans }}</a>
        </div>

        {{ include('space/data.html.twig') }}

    </div>

    <div class="rc-back-link">
        <a href="{{ path('space_home', {sessionId: session.sessionId}) }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

{% endblock %}
