<h3>{{ 'space.consult_data.title'|trans }}</h3>

<hr/>

<h4>{{ 'space.consult_data.identity_main'|trans }}</h4>

<table style="border: 1px solid {{ lightgrey }};margin-bottom: 10px;">

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_id'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.id }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_identifier'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.externalId }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_external'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.externalId }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_firstname'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.firstname }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_lastname'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.lastname }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_minor'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.minor ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_phone'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% for phone in session.volunteer.phones %}
                {{ phone.e164 }} {% if phone.preferred %}(✔️){% else %}(⤫){% endif %}
            {% endfor %}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_phone_locked'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.phoneNumberLocked ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_phone_optin'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.phoneNumberOptin ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_email'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.email }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_email_locked'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.emailLocked ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_email_optin'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.emailOptin ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_skills'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% for badge in session.volunteer.badges %}
                <div>
                    <strong>{{ badge.name }}</strong> {% if badge.description %}({{ badge.description }}){% endif %}
                </div>
            {% endfor %}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_structures'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% for structure in session.volunteer.structures %}
                {{ structure.name }}<br/>
            {% endfor %}
        </td>
    </tr>

</table>

<hr/>

<h4>{{ 'space.consult_data.identity_sync'|trans }}</h4>

<table style="border: 1px solid {{ lightgrey }};margin-bottom: 10px;">

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_locked'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.locked ? 'base.simple_no'|trans : 'base.simple_yes'|trans }}
        </td>
    </tr>

    {% if session.volunteer.lastPegassUpdate %}
        <tr style="border-right: 1px solid {{ lightgrey }};">
            <td style="padding:5px;">
                <strong>{{ 'space.consult_data.identity_last_update'|trans }}</strong>
            </td>
            <td style="padding:5px;">
                {% if not session.volunteer.locked %}
                    {{ session.volunteer.lastPegassUpdate|date('d/m/Y H:i') }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endif %}

    {% if session.volunteer.nextPegassUpdate %}
        <tr style="border-right: 1px solid {{ lightgrey }};">
            <td style="padding:5px;">
                <strong>{{ 'space.consult_data.identity_next_update'|trans }}</strong>
            </td>
            <td style="padding:5px;">
                {% if not session.volunteer.locked %}
                    {{ session.volunteer.nextPegassUpdate|date('d/m/Y H:i') }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endif %}

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_report_update'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% for report in session.volunteer.report %}
                <code>{{ report|trans }}</code>
            {% endfor %}
        </td>
    </tr>

</table>

<hr/>

<h4>{{ 'space.consult_data.identity_user'|trans }}</h4>

<table style="border: 1px solid {{ lightgrey }};margin-bottom: 10px;">

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_user_access'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {{ session.volunteer.user ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_user_developer'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% if session.volunteer.user %}
                {{ session.volunteer.user.developer ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_user_admin'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% if session.volunteer.user %}
                {{ session.volunteer.user.admin ? 'base.simple_yes'|trans : 'base.simple_no'|trans }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_user_locale'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% if session.volunteer.user %}
                {{ session.volunteer.user.locale }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr style="border-right: 1px solid {{ lightgrey }};">
        <td style="padding:5px;">
            <strong>{{ 'space.consult_data.identity_user_structures'|trans }}</strong>
        </td>
        <td style="padding:5px;">
            {% if session.volunteer.user %}
                {% for structure in session.volunteer.user.structures %}
                    {{ structure.name }}<br/>
                {% endfor %}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

</table>

<hr/>

<div class="h4">{{ 'space.consult_data.communications'|trans }}</div>

{% for communication in communications %}

    {% for message in communication %}

        <table style="border: 1px solid {{ lightgrey }};margin-bottom: 10px;" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border-right: 1px solid {{ lightgrey }};"><br/></td>
            </tr>
            <tr>
                <td style="background-color:{{ lightgrey }};border-right: 1px solid {{ lightgrey }};">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="background-color:{{ red }};padding-top:5px;padding-bottom:5px;padding-left:50px;border-right: 1px solid {{ lightgrey }};">

                    {% set context = {
                        '%day%':message.updatedAt|date('d'),
                        '%month%':message.updatedAt|date('m'),
                        '%year%':message.updatedAt|date('Y'),
                        '%hours%':message.updatedAt|date('H'),
                        '%mins%':message.updatedAt  |date('i'),
                    } %}
                    <span style="font-size:12px;color:white;">
                                {% if message.communication.type == constant('App\\Entity\\Communication::TYPE_SMS') %}
                                    {{ 'space.consult_data.announcement_sms'|trans(context) }}
                                {% elseif message.communication.type == constant('App\\Entity\\Communication::TYPE_CALL') %}
                                    {{ 'space.consult_data.announcement_voice'|trans(context) }}
                                {% else %}
                                    {{ 'space.consult_data.announcement_email'|trans(context) }}
                                {% endif %}
                            </span>
                </td>
            </tr>
            <tr>
                <td style="background-color:{{ lightgrey }};border-right: 1px solid {{ lightgrey }};">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td style="padding-left:45px;padding-right:60px;color:black;font-size:14px;border-right: 1px solid {{ lightgrey }};">
                    {% if message.communication.subject %}
                        <p class="h4">{{ message.communication.subject }}</p>
                    {% endif %}

                    {% if constant('App\\Entity\\Communication::TYPE_EMAIL') == message.communication.type %}
                        <div>{{ message.communication.body|purify }}</div>
                    {% else %}
                        <div>{{ message.communication.body|nl2br }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>

            {% if message.communication.choices|length %}
                <tr>
                    <td style="padding-left:45px;padding-right:60px;color:black;font-size:14px;border-right: 1px solid {{ lightgrey }};">
                        <strong>{{ 'space.consult_data.choices'|trans }}</strong>
                        <table>
                            {% for choice in message.communication.choices %}
                                <tr>
                                    <td style="padding: 5px;">
                                        {{ message.prefix }}{{ choice.code }}
                                    </td>
                                    <td style="padding: 5px;">
                                        {{ choice.label }}
                                    </td>
                                    <td style="padding: 5px;">
                                        {% if message.answerByChoice(choice) %}
                                            {{ 'base.simple_yes'|trans }}
                                        {% else %}
                                            {{ 'base.simple_no'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            {% endif %}

            {% if message.answers|length %}
                <tr>
                    <td style="padding-left:45px;padding-right:60px;color:black;font-size:14px;border-right: 1px solid {{ lightgrey }};">
                        <strong>{{ 'space.consult_data.answers'|trans }}</strong>
                        <table>
                            {% for answer in message.answers %}
                                <tr>
                                    <td style="padding: 5px;">
                                        {{ answer.receivedAt|date('d/m/Y H:i') }}
                                    </td>
                                    <td style="padding: 5px;">
                                        {{ answer.raw }}
                                    </td>
                                    <td style="padding: 5px;">

                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            {% endif %}

        </table>

    {% endfor %}

{% endfor %}
