{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="rc-section">

        <h3>{{ 'space.delete_data.title'|trans }}</h3>

        <hr/>

        <p>{{ 'space.delete_data.detail_1'|trans }}</p>
        <p>{{ 'space.delete_data.detail_2'|trans }}</p>
        <p>{{ 'space.delete_data.detail_3'|trans }}</p>

        <div id="delete-buttons" class="d-none">
            {{ form(form) }}
        </div>

        <a href="#" class="btn btn-primary" id="ask-deletion">{{ 'space.delete_data.delete_button'|trans }}</a>

    </div>

    <div class="rc-back-link">
        <a href="{{ path('space_home', {sessionId: session.sessionId}) }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

    <script type="text/javascript">

        $('#ask-deletion').click(function (e) {
            e.preventDefault();
            $(this).addClass('d-none');
            $('#delete-buttons').removeClass('d-none');
        });

        $('#{{ form.cancel.vars.id }}').click(function (e) {
            e.preventDefault();
            $('#ask-deletion').removeClass('d-none');
            $('#delete-buttons').addClass('d-none');
        });

    </script>

{% endblock %}
