
{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <br/>
    <div class="jumbotron">

        <div class="h3">{{ 'space.email.title'|trans }}</div>

        <p>{{ 'space.email.details_1'|trans }}</p>
        <br/>

        {{ form(form) }}

        <p>{{ 'space.email.details_2'|trans({'%from%': from}) }}</p>
        <br/>
        <p>{{ 'space.email.details_3'|trans }} {{ 'space.email.details_4'|trans }} </p>

    </div>

    <a href="{{ path('space_home', {sessionId: session.sessionId}) }}"
       class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    <br/><br/>

{% endblock %}
