
{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="rc-section">

        <h3>{{ 'space.enabled.title'|trans }}</h3>

        <p>{{ 'space.enabled.details_1'|trans }}</p>

        {{ form(form) }}

        <p>{{ 'space.enabled.details_2'|trans }}</p>

    </div>

    <div class="rc-back-link">
        <a href="{{ path('space_home', {sessionId: session.sessionId}) }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

{% endblock %}
