{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="jumbotron text-center">

        <div>
            <img src="{{ asset('apple-touch-icon.png') }}" style="max-height: 50px;"/>
        </div>

        <br/>

        {% if session.volunteer.user %}

            <div class="alert alert-info">
                <p>💡</p>
                <div>{{ 'space.home.user_title'|trans }}</div>
                <p>{{ 'space.home.user_details'|trans }}</p>
            </div>

        {% else %}

            <a href="{{ path('space_infos', {sessionId: session.sessionId}) }}"
               class="text-lg-center large-button btn btn-secondary">{{ 'space.infos.title'|trans }}</a>

            <br/>

        {% endif %}

        <hr/>

        <div class="h4 text-left">{{ 'space.home.contact'|trans }}</div>
        <br/>

        <a href="{{ path('space_phone', {sessionId: session.sessionId}) }}"
           class="text-lg-left large-button btn btn-secondary">
            {% if session.volunteer.phone %}
                ☎️ &nbsp; {{ 'space.home.update_phone'|trans }}
                <span style="color:black;">{{ session.volunteer.hiddenPhone }}</span>
            {% else %}
                ☎️ &nbsp; {{ 'space.home.add_phone'|trans }}
            {% endif %}
        </a>

        <br/><br/>

        <a href="{{ path('space_email', {sessionId: session.sessionId}) }}"
           class="text-lg-left large-button btn btn-secondary">
            {% if session.volunteer.email %}
                📧 &nbsp; {{ 'space.home.update_email'|trans }}
                <span style="color:black">{{ session.volunteer.hiddenEmail }}</span>
            {% else %}
                📧 &nbsp; {{ 'space.home.add_email'|trans }}
            {% endif %}
        </a>

        <br/><br/>

        <a href="{{ path('space_enabled', {sessionId: session.sessionId}) }}"
           class="text-lg-left large-button btn btn-secondary">
            {% if session.volunteer.callable %}
                ❤️ &nbsp; {{ 'space.home.toggle_callable'|trans }}
                <span style="color:green;">{{ 'space.home.callable'|trans }}</span>)
            {% else %}
                ❤️ &nbsp; {{ 'space.home.toggle_callable'|trans }}
                <span style="color:red;">{{ 'space.home.not_callable'|trans }}</span>)
            {% endif %}
        </a>

        <br/>
        <hr/>

        {% if messages %}

            <div class="h4 text-left">{{ 'space.home.triggers.title'|trans }}</div>

            <br/>

            <div class="text-left">
                <table class="table table-striped">
                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>
                                {{ macros.communicationIcon(message.communication) }}
                                {{ 'space.home.triggers.subject'|trans({
                                    '%type%': '<strong>' ~ ('space.home.triggers.' ~ message.communication.type)|trans ~ '</strong>',
                                    '%date%': message.communication.createdAt|date('d/m/Y'),
                                    '%time%': message.communication.createdAt|date('H:i')
                                })|raw }}
                            </td>
                            <td>
                                <a href="{{ path('message_open', {code: message.code}) }}" target="_blank" class="btn btn-primary">
                                    {{ 'base.button.open'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br/>
            <hr/>

        {% endif %}

        <div class="h4 text-left">{{ 'space.home.data'|trans }}</div>
        <br/>

        <a href="{{ path('space_consult_data', {sessionId: session.sessionId}) }}"
           class="text-lg-left large-button btn btn-secondary">
            💾 &nbsp; {{ 'space.home.data_access'|trans }}
        </a>

        <br/><br/>

        {#
        <a href="{{ path('space_delete_data', {sessionId: session.sessionId}) }}"
           class="text-lg-left large-button btn btn-secondary">
            🔥 &nbsp; {{ 'space.home.data_delete'|trans }}
        </a>

        <br/><br/>
        #}

        <div class="text-left">
            <p>🍪 &nbsp; {{ 'space.home.no_tracking'|trans }}</p>
        </div>

        <hr/>

        <a href="{{ path('space_logout', {sessionId: session.sessionId}) }}"
           class="text-lg-center large-button btn btn-secondary">{{ 'space.logout'|trans }}</a>

    </div>

{% endblock %}
