{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="rc-section">

        <h3>{{ 'space.phone.title'|trans }}</h3>

        <p>{{ 'space.phone.details_1'|trans }}</p>

        {{ form(form) }}

        {% if country %}
            {% if country.outboundSmsEnabled %}
                <p>
                    {{ 'space.phone.details_6'|trans }}
                    {% if country.outboundSmsShort %}
                        {{ country.outboundSmsShort }}
                    {% endif %}
                    {% if country.outboundSmsShort and country.outboundSmsLong %}
                        /
                    {% endif %}
                    {% if country.outboundSmsLong %}
                        {{ country.outboundSmsLong }}
                    {% endif %}
                </p>
            {% endif %}
            {% if country.outboundCallEnabled %}
                <p>
                    {{ 'space.phone.details_7'|trans }} {{ country.outboundCallNumber }}
                </p>
            {% endif %}
            {% if country.outboundSmsEnabled or country.outboundCallEnabled %}

                <p>{{ 'space.phone.details_3'|trans }}</p>
            {% endif %}
        {% endif %}

        <p>{{ 'space.phone.details_4'|trans }} {{ 'space.phone.details_5'|trans }}</p>

    </div>

    <div class="rc-back-link">
        <a href="{{ path('space_home', {sessionId: session.sessionId}) }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

{% endblock %}
