{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <br/>
    <div class="jumbotron">

        <div class="h3">{{ 'space.phone.title'|trans }}</div>

        <p>{{ 'space.phone.details_1'|trans }}</p>
        <br/>

        {{ form(form) }}

        {% if country %}
            {% if country.outboundSmsEnabled %}
                <p>
                    {{ 'space.phone.details_6'|trans }} {{ country.outboundSmsNumber }}
                </p>
            {% endif %}
            {% if country.outboundCallEnabled %}
                <p>
                    {{ 'space.phone.details_7'|trans }} {{ country.outboundCallNumber }}
                </p>
            {% endif %}
            {% if country.outboundSmsEnabled or country.outboundCallEnabled %}

                <p>{{ 'space.phone.details_3'|trans }}</p>
                <br/>
            {% endif %}
        {% endif %}

        <p>{{ 'space.phone.details_4'|trans }} {{ 'space.phone.details_5'|trans }}</p>

    </div>

    <a href="{{ path('space_home', {sessionId: session.sessionId}) }}"
       class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    <br/><br/>

{% endblock %}
