{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {% if prefilled_answer.id|default(false) %}
            {{ 'base.crud.update_title'|trans({'%entity%': prefilled_answer.label}) }}
        {% else %}
            {{ 'base.crud.create_title'|trans }}
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.colors) }}

    {{ include('widget/prefilled_answers_editor.html.twig', {answers: form.answers, label: true}) }}

    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <br/><br/>

    <div class="skip-line">
        <a href="{{ path('admin_prefilled_answers_list') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

{% endblock %}

